.soundDisclaimer {
  text-align: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  cursor: pointer;
  font-size: inherit;
}

.soundDisclaimer:hover {
  background: rgba(255, 255, 255, 0.25);
}
