<label>
  <span class="name"></span>
  <span class="inline_help"></span>
</label>
<div class="file_name_input-wrapper">
  <input type="text" dir="auto" />
  <span class="file_name_input-extension"></span>
</div>
