<label>
  <span class="name"></span>
  <span class="inline_help"></span>
</label>
<a class="original" href="#" download target="_blank">
  <%= I18n.t('pageflow.ui.templates.inputs.url_display.link_text') %>
</a>
