.navigationBar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  position: sticky;
  top: -50px;
  transition: top .15s;
  z-index: 10000;
  width: 100%;
  text-align: center;
  height: 0;
}

.navigationBar:focus-within,
.navigationBarExpanded {
  top: 0;
}

.navigationBarContentWrapper {
  position: relative;
  z-index: 2;
  background-color: #fff;
  height: 50px;
}

.menuIcon {
  position: absolute;
}

.contextIcons {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  /*
    Hide overflow to prevent animated circle of
    ToggleMuteButton.module.css from causing horizontal scroll bars
    from appearing. Add extra padding to make sure circle is visible
    outside of navigation bar. Disable pointer events to ensure other
    elements below are still clickable.
  */
  overflow: hidden;
  padding: 0px 12px 100% 300px;
  pointer-events: none;
}

.contextIcons > * {
  pointer-events: all;
}

.contextIcon {
  composes: unstyledButton from '../utils.module.css';
  cursor: pointer;
  width: 40px;
  height: 50px;
  fill: #c2c2c2;
}

div:focus-within > .contextIcon,
.contextIcon:hover {
  fill: rgb(0, 55, 90);
}

.logo {
  top: 0;
  left: 15px;
  height: 100%;
}

.logo img {
  height: 100%;
}

.chapterList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.chapterListItem {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #e9e9e9;
}

.chapterListItem:last-of-type {
  border-right: none;
}

.navigationTooltip {
  opacity: 1 !important;
  box-shadow: 0 0 0.3125rem rgba(0,0,0,.2);
}

.progressBar {
  position: relative;
  background-color: rgba(194,194,194,0.8);
  height: 8px;
  width: 100%;
}

.progressIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 0vw;
  height: 100%;
  background-color: #e10028;
}

/* mobile view */
@media (max-width: 780px) {
  .logo {
    left: 65px;
  }

  .navigationChapters {
    touch-action: none;
    display: block;
    position: fixed;
    top: 60px;
    left: 0px;
    background: rgba(255, 255, 255, 0.95);
    width: 100vw;
    height: 100vh;
  }

  .navigationChaptersHidden {
    display: none;
  }

  .chapterList {
    margin-top: 50px;
  }

  .chapterListItem {
    display: list-item;
    width: 80vw;
    padding: 25px 10vw;
    border-right: none;
  }

  .chapterListItem::before,
  .chapterListItem::after {
    display: table;
    content: " ";
    border-top: 1px solid rgb(100, 100, 100);
    width: 14%;
    margin: 0 43%;
    transition: width .15s, margin .15s;
  }

  .chapterListItem:hover::before,
  .chapterListItem:hover::after {
    border-top: 1px solid rgb(0, 55, 90);
    width: 80%;
    margin: 0 10%;
  }

  .chapterListItem p {
    margin-top: 0;
  }

  .progressBar {
    height: 10px;
  }
}
