:global(.navigationTooltip) {
  opacity: 1 !important;
  border-bottom: 3px solid #e10028;
  box-shadow: 0 0 0.3125rem rgba(0,0,0,.2);
  width: 200px;
}

.tooltipHeadline {
  margin: 5px 0 0px;
  color: #e10028;
}

@media (max-width: 780px) {
  :global(.navigationTooltip) {
    display: none !important;
  }
}
