.burgerMenuIconContainer {
  display: none;
}

.burgerMenuIcon {
  top: 12px;
  left: 12px;
  outline: none;
}

@media screen and (max-width: 780px) {
  .burgerMenuIconContainer {
    display: block;
  }
}
