.imprintAndPrivacyTooltip {
  width: 200px;
  max-width: 200px;
  text-align: left;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.imprintAndPrivacyTooltip:after {
  left: 90% !important;
}

:global(.imprintAndPrivacyTooltip p) {
  margin: 0 0 0.5em;
}

:global(.imprintAndPrivacyTooltip a) {
  color: #e10028;
}
