.main {
    height: 97vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: #000000;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texts {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding: 2%;
}

.texts h2 {
    text-align: center;
}

.texts p {
    margin-top: 0;
    text-align: center;
}

.icons {
    display: flex;
    opacity: 0.65;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    background-color: #FAF9ED;
}

.child {
    height: 100px;
    width: 100px;
    margin-left: 1%;
}


.chrome {
    composes: chrome from './icons.module.css';    
}

.edge {
    composes: edge from './icons.module.css';
}

.firefox {
    composes: firefox from './icons.module.css';
}

.safari {
    composes: safari from './icons.module.css';
}

/*Media Queries*/
/*Small mobile devices in landscape.*/
@media (max-width: 767px) and (orientation: landscape){
    .texts p {
        font-size: 14px;
    }
    .icons, .texts {
        width: 100%;
    }     
}