.upper_section {
    background: #50514f;
    height: 100%;
    width: 100%;
}

.lower_section {
    background: #A2A2A2;
    height: 100%;
    width: 100%;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.active {
    background: #6c757d !important;
}

.active label {
    color: #ffffff;
}

.transition {
    padding: 15px 0;
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid #808080;
    background: #e5e5e5;
}
.transition:hover,
.transition input[type="radio"]:checked + label {
     background: #ddd;
}


/*Fade*/
.transition:hover .fade .upper_section {
    visibility: hidden;
    opacity: 0.5;
}

/*Fade Background Upper*/
.transition:hover .fadeBg .upper_section {
    visibility: hidden;
    transform: translateY(-100%);
}

/*face Background Lower*/
.transition:hover .fadeBg .lower_section {
    transform: translateY(-100%);
}

/*Scroll and Scroll Over*/
.transition:hover .scroll .upper_section,
.transition:hover .scroll .lower_section,
.transition:hover .scrollOver .lower_section {
    animation: Scroll 2s ease infinite;
}

/*Reveal*/
.transition:hover .reveal .upper_section {
    animation: Reveal 2s ease infinite;
}

/*Before After*/
.transition:hover .beforeAfter .upper_section {
    color: transparent;
    height: 0;
}

.transition > div {
    width: 30%;
    height: 100%;
    margin: 2%;
    border-radius: 5%;
    color: white;
    text-align: center;
    font-size: 26px;
    overflow: hidden;
}

/*Fade + Reveal + Before After*/
.fade,
.reveal,
.beforeAfter {
    position: relative;
}

/*Fade + Reveal + Before After Lower Sections*/
.fade .lower_section,
.reveal .lower_section,
.beforeAfter .lower_section {
    position: absolute;
}

/*fade Upper Section*/
.fade .upper_section {
    transition: all 2s ease-in-out;
    position: absolute;
    z-index: 1;
}

/*Reveal Upper Section*/
.reveal .upper_section {
    position: absolute;
    z-index: 1;
}

/*Before After Upper Section*/
.beforeAfter .upper_section {
    transition: all 2s ease-in-out;
    position: absolute;
    z-index: 1;
}

/*Fade Background*/
.fadeBg .upper_section,
.fadeBg .lower_section {
    transition: all 2s ease-in-out;
}

/*Scroll + Scroll Over Upper Sections*/
.scroll .upper_section,
.scrollOver .upper_section {
    height: 50%;
}

/*Scroll Lower Section*/
.scroll .lower_section {
    height: 70%;
}


/*Input*/
.transition input {
    opacity: 0;
}

/*Label*/
.transition label {
    display: block;
    text-align: left;
    height: 100%;
    width: 70%;
}

/*Keyframes*/
@keyframes Scroll {
    50% {
        transform: translateY(-30%);
   }
    100% {
        transform: translateY(0);
   }
}
@keyframes Reveal {
    50% {
        transform: translateY(-100%);
   }
    100% {
        transform: translateY(0);
   }
}
