@value selectionColor from './colors.module.css';

.upper_section {
    background: #50514f;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.lower_section {
    background: #A2A2A2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.active {
    background: selectionColor !important;
}

.active div {
    color: #ffffff;
}

.transition {
    padding: 15px 0;
    height: 60px;
    display: flex !important;
    align-items: center;
    border-top: 1px solid #ffffff;
    background: #e5e5e5;
}
.transition:hover {
     background: #ddd;
}


/*Fade AND Fade Background Upper*/
.transition:hover .fade .upper_section,
.transition:hover .fadeBg .upper_section {
    animation: Fade 2s linear infinite;
}

/*Scroll, Scroll Over, Reveal, AND Fade Background Lower*/
.transition:hover .scroll .upper_section,
.transition:hover .scroll .lower_section,
.transition:hover .scrollOver .lower_section,
.transition:hover .reveal .upper_section,
.transition:hover .fadeBg .lower_section {
    animation: Translate 2s linear infinite;
}

/*Before After*/
.transition:hover .beforeAfter .upper_section {
    animation: BeforeAfter 2s linear infinite;
}

.transition > div:first-child {
    width: 30%;
    height: 100%;
    margin: 2%;
    border-radius: 5%;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    overflow: hidden;
}

/*Fade + Reveal + Before After*/
.fade,
.reveal,
.beforeAfter {
    position: relative;
}

/*Fade + Reveal + Before After Lower Sections*/
.fade .lower_section,
.reveal .lower_section,
.beforeAfter .lower_section {
    position: absolute;
}

/*Reveal, fade Upper Section, & Before After Upper Section*/
.reveal .upper_section,
.beforeAfter .upper_section,
.fade .upper_section {
    position: absolute;
    z-index: 1;
}

/*Input*/
.transition input {
    opacity: 0;
}

/*Label*/
.transition .input {
    display: block;
    text-align: left;
    height: 100%;
    width: 70%;
}

/*Keyframes*/
@keyframes Translate {
    50% {
        transform: translateY(-100%);
   }
}
@keyframes BeforeAfter {
    50% {       
        color: transparent;
        height: 0;
   }
}
@keyframes Fade {
    50% {
        visibility: hidden;
        opacity: 0;
   }
}
