.root {}

.chapters {}

.chapters > :global(.sortable-placeholder) {
  margin-bottom: 12px;
  padding: 0 10px 10px 10px;
  border-radius: rounded(lg);
}

.addChapter {
  composes: addButton from './buttons.module.css';
}
