.root {
  position: relative;
  user-select: none;
  composes: outline from './outline.module.css';
}

.collapsed {
  composes: collapsed from './outline.module.css';
}

.root .header {
  margin-bottom: 10px;
}

.toolbar {
  position: absolute;
  top: -6px;
  right: -1px;
}

.dropDownButton {
  --drop-down-button-width: 26px;
  --ui-on-button-color: var(--ui-primary-color-light);

  button.hover,
  button:hover {
    --ui-on-button-color: var(--ui-primary-color);
  }
}

.collapsed .dropDownButton,
.expandChapters {
  display: none !important;
}

.expandChapters {
  composes: saveButton from './buttons.module.css';
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.collapsed .expandChapters {
  display: block !important;
}

.chapters {}

.addChapter {
  composes: addButton from './buttons.module.css';
  composes: button from './outline.module.css';
}
