.root {
  position: relative;
  user-select: none;
  composes: outline from './outline.module.css';
}

.tabs {}

.toolbar {
  position: absolute;
  top: 3px;
  right: -1px;
}

.dropDownButton {
  --drop-down-button-width: 26px;
  --ui-on-button-color: var(--ui-primary-color-light);

  button.hover,
  button:hover {
    --ui-on-button-color: var(--ui-primary-color);
  }
}
