.icon::before {
  font-family: "entypo";
}

.arrowsCcw,
.attention,
.cancel,
.check,
.plusCircled,
.rightOpen,
.trash {
  composes: icon;
}

.arrowsCcw::before {
  content: "\1f504";
}

.attention::before {
  content: "\26a0";
}

.cancel::before {
  content: "\2715";
}

.check::before {
  content: "\2713";
}

.plusCircled::before {
  content: "\2795";
}

.rightOpen::before {
  content: "\e75e"
}

.trash::before {
  content: "\e729";
}
