.box {
  max-width: 500px;
  min-width: 200px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.list {
  overflow-y: auto;
  padding: 2px;
  margin: -2px;
}

.button {
  composes: unstyledButton from './buttons.module.css';
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 2px;
  background-color: #fff;
}
