@value indicatorIconColor, errorIconColor from './colors.module.css';

.indicator {
  display: none;
  position: absolute;
  right: 14px;
  top: 7px;
  width: 30px;
  height: 30px;
  font-size: 19px;
  color: indicatorIconColor;
}

.creatingIndicator {
  composes: indicator;
  composes: arrowsCcw from './icons.module.css';
  composes: blink from './animations.module.css';
}

.destroyingIndicator {
  composes: indicator;
  composes: trash from './icons.module.css';
  composes: blink from './animations.module.css';
}

.failedIndicator {
  composes: indicator;
  composes: attention from './icons.module.css';
  color: errorIconColor;
}

.dragHandle {
  composes: drag from './icons.module.css';
  opacity: 0;
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  transition: opacity 0.1s ease;
  transition-delay: 0.2s;
}
