@value (
  lightContentTextColor,
  contentLinkColor
) from "pageflow-scrolled/values/colors.module.css";

.wrapper {
  --overlap: 20px;
  --item-size: calc(80% - var(--overlap) * 2);
  --gutter: calc((100% - var(--item-size)) / 2);
  display: grid;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-items: center;
  color: lightContentTextColor;
}

.button {
  grid-row: 1;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.leftButton {
  composes: button;
  grid-column: 1;
}

.rightButton {
  composes: button;
  grid-column: 3;
}

.items {
  grid-row: 1;
  grid-column: 1/-1;
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  align-items: center;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0 var(--gutter);
}

.items::-webkit-scrollbar {
  display: none;
}

.item {
  scroll-snap-stop: always;
  scroll-snap-align: center;
  margin: 0 calc(-1 * var(--overlap));
}

.current {
  z-index: 1
}

.figure {
  display: grid;
  grid: [stack] 100% / [stack] 100%;
  align-items: end;
  justify-items: stretch;
  margin: 0;
  transform: scale(0.9);
  transition: transform .2s ease, opacity .2s linear;
  opacity: 0.3;
}

.current .figure {
  transform: scale(1);
  opacity: 1;
}

.figure > * {
  grid-area: stack;
}

.figure > img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
}

.figure figcaption {
  text-align: center;
  padding: 20px 10px 5px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
}

.figure p {
  margin: 5px 0 0;
}

.figure a {
  color: contentLinkColor;
}
