.button {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: inherit;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.button svg {
  transition: transform 0.2s ease;
}

.button:not(.disabled):hover svg,
.button:not(.disabled):focus svg {
  transform: scale(1.2);
}

.icon {
  display: inline-block;
  position: relative;
  transition: opacity 0.2s linear;
}

.disabled .icon {
  opacity: 0;
}

.icon::before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 60%);
  z-index: -1;
}
