.button {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: inherit;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.button svg {
  transition: transform 0.2s ease;
  display: block;
  width: var(--theme-image-gallery-scroll-button-size);
  height: var(--theme-image-gallery-scroll-button-size);
  filter: drop-shadow(0 1px 4px #000);
}

.button:not(.disabled):hover svg,
.button:not(.disabled):focus svg {
  transform: scale(1.2);
}

.icon {
  transition: opacity 0.2s linear;
}

.disabled .icon {
  opacity: 0;
}
