.wrapper {
  position: relative;
  transform-origin: 0 0;
  width: var(--backdrop-positioner-width);
  transform: var(--backdrop-positioner-transform);
  transition: transform 1s ease;
  height: var(--backdrop-positioner-height);
}
