.text {
  font-size: 14px;
  position: relative;
  z-index: 1;
  color: var(--content-text-color);
}

.text li {
  text-align: right;
  padding-top: 0.2em;
}

.forSection {
  position: absolute;
  bottom: 0;
  right: 0;
}

.forSection li {
  padding: 0 0.4em 0.2em 0;
}

.text a {
  color: inherit;
  text-decoration-color: color-mix(in srgb, currentColor, transparent);
}

.text span {
  opacity: 0.7;
}
