<label>
  <span class="name"></span>
  <span class="inline_help"></span>
</label>
<p>Ziehen Sie Seiten per Drag &amp; Drop in die Seite um Verweise zu erstellen.</p>
<ul class="chapters outline"></ul>
