<label>
  <span class="name"></span>
  <span class="inline_help"></span>
</label>
<div class="page_title"></div>
<a href="" class="unset" title="<%= I18n.t('pageflow.editor.templates.inputs.page_link_input.reset') %>"></a>
<a href="" class="choose" title="<%= I18n.t('pageflow.editor.templates.inputs.page_link_input.edit') %>"></a>
