<label>
  <span class="name"></span>
  <span class="inline_help"></span>
</label>
<div class="title"></div>
<button class="unset" title="<%= I18n.t('pageflow.editor.templates.inputs.reference.reset') %>"></button>
<button class="choose" title="<%= I18n.t('pageflow.editor.templates.inputs.reference.edit') %>"></button>
