@mixin logo-variant-background-image(
  $first-page-only,
  $top,
  $min-width,
  $max-width,
  $width,
  $height
) {
  $page-selector: if($first-page-only, ":first-child", "");

  .js .page#{$page-selector} {
    .content_and_background .scroller > div:after {
      content: "";
      position: absolute;
      left: 8%;
      top: $top;
      z-index: 200;
      min-width: $min-width;
      max-width: $max-width;
      width: $width;
      height: $height;
      background-image: image-url("pageflow/themes/#{$theme-name}/logo_header.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left top;

      @include mobile {
        padding-top: 1%;
        height: 35px;
      }
    }

    &.invert .content_and_background .scroller > div:after {
      background-image: image-url("pageflow/themes/#{$theme-name}/logo_header_invert.png");
    }
  }
}
