.ext_links_container{
  display: flex;
  flex-wrap: wrap;
  border-collapse: separate;
  border-spacing: 10px;
  min-height: 240px;
  width: auto;
  height: auto;
  pointer-events: all;
  position: relative;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 0ms;
}
