@value (
  darkContentSurfaceColor, lightContentSurfaceColor,
  darkContentTextColor, lightContentTextColor
) from "pageflow-scrolled/values/colors.module.css";

@value breakpoint-sm from "pageflow-scrolled/values/breakpoints.module.css";

.item {
  position: relative;
  margin: 0;
  padding: 0;
  transition: transform 0.3s;
}

.item > a {
  text-decoration: none;
}

.outlined::before {
  content: "";
  display: block;
  position: absolute;
  inset: -4px;
  border: solid 1px currentColor;
  opacity: 0;
}

.highlighted::before,
.item:where(:hover)::before {
  opacity: 0.5;
}

.selected::before {
  opacity: 1;
}

.card {
  display: flex;
  vertical-align: top;
  border-radius: var(--theme-content-element-box-border-radius);
  overflow: hidden;
  will-change: transform;
  height: 100%;
}

.textPosition-below .card {
  flex-direction: column;
}

.textPosition-none {
  composes: textPosition-below;
}

.textPosition-title {
  composes: textPosition-none;
}

.link.textPosition-below:not(.outlined):hover {
  transform: scale(var(--theme-external-links-card-hover-scale, 1.05));
}

.link.textPosition-right:not(.outlined):hover {
  transform: scale(var(--theme-external-links-card-hover-scale, 1.02));
}

.link .card:hover .title {
  text-decoration: underline;
}

.textPosition-right .thumbnail {
  width: 33%;
}

.textPosition-right .thumbnailSize-medium .thumbnail {
  width: 50%;
}

.textPosition-right .thumbnailSize-large .thumbnail {
  width: 66%;
}

.textPosition-overlay .thumbnail {
  width: 100%;
}

.light {
  composes: scope-darkContent from global;
  --content-text-color: var(--theme-external-links-card-text-color, darkContentTextColor);
  --card-surface-color: var(--theme-external-links-card-surface-color, lightContentSurfaceColor);
}

.dark {
  composes: scope-lightContent from global;
  --content-text-color: var(--theme-external-links-card-text-color, lightContentTextColor);
  --card-surface-color: var(--theme-external-links-card-surface-color, darkContentSurfaceColor);
}

.background {
  --padding-inline: var(--theme-external-links-card-padding-inline, 15px);
  color: var(--content-text-color);
  background-color: var(--card-surface-color);
  flex: 1;
  padding-left: min(var(--padding-inline), 5px);
  padding-right: min(var(--padding-inline), 5px);
}

.textPosition-overlay .background {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
  z-index: 1;
}

.textPosition-overlay .background::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, var(--card-surface-color), transparent);
  opacity: calc(0.9 * var(--overlay-opacity, 0.7));
}

.textPosition-none .background {
  display: none;
}

.textPosition-below .details,
.textPosition-overlay .details {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: calc(var(--padding-inline) - 5px);
  padding-right: calc(var(--padding-inline) - 5px);
}

.textPosition-below .details:first-child,
.textPosition-overlay .details:first-child {
  padding-top: 20px;
}

.textPosition-right .details {
  padding: 10px 10px 10px 15px;
}

.details p,
.textPosition-overlay .title:last-child {
  margin-bottom: 0;
}
