@value (
  darkContentSurfaceColor, lightContentSurfaceColor,
  darkContentTextColor, lightContentTextColor
) from "pageflow-scrolled/values/colors.module.css";

@value breakpoint-sm from "pageflow-scrolled/values/breakpoints.module.css";

.item {
  position: relative;
  margin: 0;
  padding: 0;
  transition: transform 0.3s;
}

.item > a {
  text-decoration: none;
}

.outlined::before {
  content: "";
  display: block;
  position: absolute;
  inset: -4px;
  border: solid 1px currentColor;
  opacity: 0;
}

.highlighted::before,
.item:where(:hover)::before {
  opacity: 0.5;
}

.selected::before {
  opacity: 1;
}

.card {
  display: flex;
  vertical-align: top;
  border-radius: var(--theme-content-element-box-border-radius);
  overflow: hidden;
  will-change: transform;
  height: 100%;
}

.textPosition-below .card {
  flex-direction: column;
}

.textPosition-none {
  composes: textPosition-below;
}

.textPosition-title {
  composes: textPosition-none;
}

.link.textPosition-below:not(.outlined):hover {
  transform: scale(var(--theme-external-links-card-hover-scale, 1.05));
}

.link.textPosition-right:not(.outlined):hover {
  transform: scale(var(--theme-external-links-card-hover-scale, 1.02));
}

.link .card:hover .title {
  text-decoration: underline;
}

.textPosition-right .thumbnail {
  width: 33%;
}

.textPosition-right .thumbnailSize-medium .thumbnail {
  width: 50%;
}

.textPosition-right .thumbnailSize-large .thumbnail {
  width: 66%;
}

.background {
  --padding-inline: var(--theme-external-links-card-padding-inline, 15px);
  flex: 1;
  color: var(--theme-external-links-card-text-color, darkContentTextColor);
  --content-text-color: var(--theme-external-links-card-text-color, darkContentTextColor);
  background-color: var(--theme-external-links-card-surface-color, lightContentSurfaceColor);
  padding-left: min(var(--padding-inline), 5px);
  padding-right: min(var(--padding-inline), 5px);
}

.textPosition-none .background {
  display: none;
}

.textPosition-below .details {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: calc(var(--padding-inline) - 5px);
  padding-right: calc(var(--padding-inline) - 5px);
}

.textPosition-below .details:first-child {
  padding-top: 20px;
}

.textPosition-right .details {
  padding: 10px 10px 10px 15px;
}

.invert > .background {
  background-color: var(--theme-external-links-card-surface-color, darkContentSurfaceColor);
  color: var(--theme-external-links-card-text-color, lightContentTextColor);
  --content-text-color: var(--theme-external-links-card-text-color, lightContentTextColor);
}

.tagline {
  composes: typography-externalLinkTagline from global;
  line-height: 1.3;
  margin: 0 0 0.25rem;
}

.title {
  composes: typography-externalLinkTitle from global;
  line-height: 1.3;
  font-weight: bold;
  margin: 0 0 1rem;
}

.details p {
  margin-bottom: 0;
}

.textSize-medium {
  font-size: 18px;
}

.textSize-large {
  font-size: 20px;
}

@media screen and breakpoint-sm {
  .textSize-small .title {
    font-size: 1.2em;
  }

  .textSize-medium .title {
    font-size: 1.1em;
  }
}
