@value contentColorScope from "pageflow-scrolled/values/colors.module.css";

.container {
  container-type: inline-size;
}

.list {
  composes: scope-externalLinks from global;
  composes: contentColorScope;
}

.textPosition-below {
  min-height: 240px;
}
