.thumbnail {
  width: auto;
  position: relative;
  padding-top: var(--theme-external-links-thumbnail-height,
                   calc(var(--thumbnail-aspect-ratio) * 100%));
  box-sizing: border-box;
}

.cover {
  height: 100%;
}
