@value breakpoint-sm from 'pageflow-scrolled/values/breakpoints.module.css';
@value contentLinkColor from "pageflow-scrolled/values/colors.module.css";

.figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 1.375rem;
  color: var(--palette-color);
}

.figure a {
  color: var(--palette-color, contentLinkColor);
}

.text {
  --quote-indent: var(--theme-quote-indent, 0);
  --quote-large-mark-font-size: var(--theme-quote-large-mark-font-size, 2em);

  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 1em 0 0.5em 0;
}

.design-largeHanging .text,
.design-hanging .text {
  --quote-indent: var(--theme-quote-indent, 1em);
}

.text p {
  margin: 1.375rem 0 0 var(--quote-indent);
}

.text br {
  display: none;
}

.centerRagged .text p {
  text-align: center;
  margin-right: var(--quote-indent);
}

.text p:first-child {
  position: relative;
}

.text p:first-child::before,
.text p:last-child::after {
  font-weight: var(--theme-quote-mark-font-weight, bold);
  opacity: var(--theme-quote-mark-opacity, 0.5);
}

.text p:first-child::before {
  content: var(--theme-quote-left-mark, "“");
}

.text p:last-child::after {
  content: var(--theme-quote-right-mark, '”');
}

.design-largeHanging .text p:first-child::before,
.design-hanging .text p:first-child::before {
  position: absolute;
  right: calc(100% + 0.05em);
}

.design-largeHanging .text p:first-child::before {
  font-size: var(--quote-large-mark-font-size);
  line-height: 1em;
  top: var(--theme-quote-large-mark-top, -0.2em);
}

.design-largeHanging .text p:last-child::after {
  display: none;
}

.design-hanging .text p:first-child::after {
  padding-left: 0.05em;
}

.attribution p:first-child {
  position: relative;
}

.attribution p:first-child::before {
  content: var(--quote-attribution-prefix, "—");
  position: absolute;
  right: 100%;
  margin-right: 0.5em;
}

.attribution p {
  margin: 0;
}

.attribution p:first-child {
  font-weight: bold;
}

@media screen and breakpoint-sm {
  .design-largeHanging .text {
    --quote-indent: var(--theme-quote-indent, 1.5em);
    --quote-large-mark-font-size: var(--theme-quote-large-mark-font-size, 2.5em);
  }
}
