@value breakpoint-sm from 'pageflow-scrolled/values/breakpoints.module.css';

.figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 1em 0.5em 0.5em 0;
  --quote-margin-h: 1em;
}

.text p {
  margin: 1.375rem 0 0 var(--quote-margin-h);
}

.textPlaceholder {
  padding: 1.375rem 0 0 var(--quote-margin-h);
}

.centerRagged .textPlaceholder,
.centerRagged .text p {
  text-align: center;
  margin-right: var(--quote-margin-h);
}

.text p:first-child {
  position: relative;
}

.text p:first-child::before {
  content: "“";
  position: absolute;
  right: calc(100% + 0.05em);
  top: -0.2em;
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  opacity: 0.5;
}

.attribution p:first-child {
  position: relative;
}

.attribution p:first-child::before {
  content: var(--quote-attribution-prefix, "—");
  position: absolute;
  right: 100%;
  margin-right: 0.5em;
}

.attribution {
  margin-bottom: 1.375rem;
}

.attribution p {
  margin: 0;
}

.attribution p:first-child {
  font-weight: bold;
}

@media screen and breakpoint-sm {
  .text {
    --quote-margin-h: 1.6em;
  }

  .text p:first-child::before {
    font-size: 2.5em;
  }
}
