.wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.9);
  opacity: 0;
  transition: opacity 0.2s linear;
  font-family: var(--theme-entry-font-family);
}

.visible {
  opacity: 1;
}

/*
  On iOS, the fixed background sometimes does not cover the document
  while navigation bars are being hidden (e.g. iPhone X, iOS
  15.4.1). Applying the transform appears to fix this. Dragging the
  zoomed image, makes the navigation bars show up and resizes the
  viewport. We give the element a fixed height to prevent wonky
  effects while the viewport resizes. Since relying on `vh` directly
  causes problems in iOS in-app browsers, we apply the --vh
  workaround.

  Since only Mobile Safari supports `-webkit-touch-callout` [1], we
  can use it to reset `word-wrap` for iOS only.

  [1] https://stackoverflow.com/questions/30102792/css-media-query-to-target-only-ios-devices
*/
@supports (-webkit-touch-callout: none) {
  .wrapper {
    transform: scale(1);
    height: calc(100 * var(--vh));
  }
}
