.root {
  position: relative;
}

.box {
  margin-top: 1em;
}

.container {
  position: relative;
  margin-top: 1em;
}

.spacer {
  padding-top: 75%;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.box .inner {
  border: solid 2px #fff;
}
