.wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.9);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.visible {
  opacity: 1;
}

.controls {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background: linear-gradient(30deg, transparent, transparent 60%, #000000a6);
  padding: 5px 5px 40px 70px;
}
