<div class="third_party_embed_opt_in">
  <div class="third_party_embed_opt_in-message">
    <%= message %>
    <%= link_html %>
  </div>
  <div>
    <button class="third_party_embed_opt_in-button"
            data-consent-vendor="<%= vendor_name %>">
      <%= t('pageflow.public.third_party_embed_consent.opt_in.confirm') %>
</button>
  </div>
</div>
