@value (
  darkContentTextColor,
  lightContentTextColor
) from "pageflow-scrolled/values/colors.module.css";

.root {
  margin-top: 0.3em;
  margin-bottom: 0;
  padding-top: 0.45em;
}

.main {
  margin: 0;
}

.tagline {
  margin-bottom: 0.8em;
}

.subtitle {
  margin-top: 0.6em;
  margin-bottom: 2em;
}

@media (max-width: 600px) {
  .tagline {
    margin-bottom: 0.4em;
  }

  .subtitle {
    margin-top: 0.4em;
  }
}

@media (min-width: 951px) {
  .right {
    text-align: right;
  }
}

.light {
  color: lightContentTextColor;
}

.dark {
  color: darkContentTextColor;
}

.centerRagged,
.center {
  text-align: center;
}

@media (orientation: landscape) {
  .forcePaddingTop {
    padding-top: var(--theme-first-heading-landscape-padding-top, 25%);
  }
}
