/.rails_version
/.ruby-version
/coverage
/Gemfile.lock
.bundle/
log/*.log
pkg/
tmp/
spec/dummy/*
spec/fixtures/exported_entry/entry.json
/coverage
.idea
/app/assets/javascripts/pageflow/dist
.localeapp
