/.rails_version
/.ruby-version
/coverage
/Gemfile.lock
.bundle/
log/*.log
pkg/
tmp/
spec/dummy/*
/coverage
.idea
/app/assets/javascripts/pageflow/dist
.localeapp

/node_modules
/packages/*/node_modules