#wrapper {
  overflow: hidden;
  position: relative;
}

.action_items {
  form,
  div {
    display: inline;
  }

  input[type="submit"] {
    @include light-button;
    padding: 12px 17px 10px;
    margin: 0;
  }
}

.blank_slate_container {
  margin: 10px 0;
}
