.admin_entries {
  $published-color: #BEEBB8;

  table.revisions {
    tr {
      color: #888;
    }

    a.show {
      padding-right: 7px;
    }

    .published td {
      // scss-lint:disable ImportantRule
      // Win against overly specific Active Admin rule
      background-color: $published-color !important;
      // scss-lint:enable ImportantRule
      color: #000;
    }
  }

  .snapshot {
    float: right;
  }

  span[title] {
    border-bottom: 1px #aaa dotted;
    cursor: default;
  }

  span.password_protected {
    @include background-icon-center($font-size: 13px, $color: #555);
    @include lock-icon;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    border-bottom: none;
  }

  .legend {
    float: left;
    position: relative;
    padding: 0 15px 0 22px;

    &:before {
      content: " ";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      border: solid 1px #999;
    }

    &.published:before {
      background-color: $published-color;
    }
  }

  form {
    clear: both;
  }

  @import "./entries/index_table";
  @import "./entries/folders";
}
