$pageflow-status-tag-ok-background-color: #8daa92 !default;

$pageflow-status-tag-warning-background-color: #e29b20 !default;

.status_tag {
  &.yes,
  &.ok {
    background: $pageflow-status-tag-ok-background-color;
  }

  &.warning {
    background: $pageflow-status-tag-warning-background-color;
  }
}
