$status-tag-ok-background-color: #8daa92 !default;

$status-tag-warning-background-color: #e29b20 !default;

.status_tag {
  &.ok {
    background: $status-tag-ok-background-color;
  }

  &.warning {
    background: $status-tag-warning-background-color;
  }
}
