<div class="globalNotices">
  <div class="unsupported">
    <%= t('pageflow_scrolled.public.unsupported_browser') %>
  </div>
  <noscript>
    <div>
      <%= t('pageflow_scrolled.public.js_required') %>
    </div>
  </noscript>
</div>
