@font-face {
  font-family: 'entypo';
  font-style: 'normal';
  font-weight: 'normal';
  src: asset-url('pageflow/entypo.eot');
  src: asset-url('pageflow/entypo.eot?#iefix') format('eot'),
       asset-url('pageflow/entypo.woff') format('woff'),
       asset-url('pageflow/entypo.ttf') format('truetype'),
       asset-url('pageflow/entypo.svg#entypo') format('svg');
}

@mixin note-icon                { @include icon("\266a");   }
@mixin note-beamed-icon         { @include icon("\266b");   }
@mixin music-icon               { @include icon("\1f3b5");  }
@mixin search-icon              { @include icon("\1f50d");  }
@mixin flashlight-icon          { @include icon("\1f526");  }
@mixin mail-icon                { @include icon("\2709");   }
@mixin heart-icon               { @include icon("\2665");   }
@mixin heart-empty-icon         { @include icon("\2661");   }
@mixin star-icon                { @include icon("\2605");   }
@mixin star-empty-icon          { @include icon("\2606");   }
@mixin user-icon                { @include icon("\1f464");  }
@mixin users-icon               { @include icon("\1f465");  }
@mixin user-add-icon            { @include icon("\e700");   }
@mixin video-icon               { @include icon("\1f3ac");  }
@mixin picture-icon             { @include icon("\1f304");  }
@mixin camera-icon              { @include icon("\1f4f7");  }
@mixin layout-icon              { @include icon("\268f");   }
@mixin menu-icon                { @include icon("\2630");   }
@mixin check-icon               { @include icon("\2713");   }
@mixin cancel-icon              { @include icon("\2715");   }
@mixin cancel-circled-icon      { @include icon("\2716");   }
@mixin cancel-squared-icon      { @include icon("\274e");   }
@mixin plus-icon                { @include icon("\2b");     }
@mixin plus-circled-icon        { @include icon("\2795");   }
@mixin plus-squared-icon        { @include icon("\229e");   }
@mixin minus-icon               { @include icon("\2d");     }
@mixin minus-circled-icon       { @include icon("\2796");   }
@mixin minus-squared-icon       { @include icon("\229f");   }
@mixin help-icon                { @include icon("\2753");   }
@mixin help-circled-icon        { @include icon("\e704");   }
@mixin info-icon                { @include icon("\2139");   }
@mixin info-circled-icon        { @include icon("\e705");   }
@mixin back-icon                { @include icon("\1f519");  }
@mixin home-icon                { @include icon("\2302");   }
@mixin link-icon                { @include icon("\1f517");  }
@mixin attach-icon              { @include icon("\1f4ce");  }
@mixin lock-icon                { @include icon("\1f512");  }
@mixin lock-open-icon           { @include icon("\1f513");  }
@mixin eye-icon                 { @include icon("\e70a");   }
@mixin tag-icon                 { @include icon("\e70c");   }
@mixin bookmark-icon            { @include icon("\1f516");  }
@mixin bookmarks-icon           { @include icon("\1f4d1");  }
@mixin flag-icon                { @include icon("\2691");   }
@mixin thumbs-up-icon           { @include icon("\1f44d");  }
@mixin thumbs-down-icon         { @include icon("\1f44e");  }
@mixin download-icon            { @include icon("\1f4e5");  }
@mixin upload-icon              { @include icon("\1f4e4");  }
@mixin upload-cloud-icon        { @include icon("\e711");   }
@mixin reply-icon               { @include icon("\e712");   }
@mixin reply-all-icon           { @include icon("\e713");   }
@mixin forward-icon             { @include icon("\27a6");   }
@mixin quote-icon               { @include icon("\275e");   }
@mixin code-icon                { @include icon("\e714");   }
@mixin export-icon              { @include icon("\e715");   }
@mixin pencil-icon              { @include icon("\270e");   }
@mixin feather-icon             { @include icon("\2712");   }
@mixin print-icon               { @include icon("\e716");   }
@mixin retweet-icon             { @include icon("\e717");   }
@mixin keyboard-icon            { @include icon("\2328");   }
@mixin comment-icon             { @include icon("\e718");   }
@mixin chat-icon                { @include icon("\e720");   }
@mixin bell-icon                { @include icon("\1f514");  }
@mixin attention-icon           { @include icon("\26a0");   }
@mixin alert-icon               { @include icon("\1f4a5'"); }
@mixin vcard-icon               { @include icon("\e722");   }
@mixin address-icon             { @include icon("\e723");   }
@mixin location-icon            { @include icon("\e724");   }
@mixin map-icon                 { @include icon("\e727");   }
@mixin direction-icon           { @include icon("\27a2");   }
@mixin compass-icon             { @include icon("\e728");   }
@mixin cup-icon                 { @include icon("\2615");   }
@mixin trash-icon               { @include icon("\e729");   }
@mixin doc-icon                 { @include icon("\e730");   }
@mixin docs-icon                { @include icon("\e736");   }
@mixin doc-landscape-icon       { @include icon("\e737");   }
@mixin doc-text-icon            { @include icon("\1f4c4");  }
@mixin doc-text-inv-icon        { @include icon("\e731");   }
@mixin newspaper-icon           { @include icon("\1f4f0");  }
@mixin book-open-icon           { @include icon("\1f4d6");  }
@mixin book-icon                { @include icon("\1f4d5");  }
@mixin folder-icon              { @include icon("\1f4c1");  }
@mixin archive-icon             { @include icon("\e738");   }
@mixin box-icon                 { @include icon("\1f4e6");  }
@mixin rss-icon                 { @include icon("\e73a");   }
@mixin phone-icon               { @include icon("\e73a");   }
@mixin cog-icon                 { @include icon("\2699");   }
@mixin tools-icon               { @include icon("\2692");   }
@mixin share-icon               { @include icon("\e73c");   }
@mixin shareable-icon           { @include icon("\e73e");   }
@mixin basket-icon              { @include icon("\e73d");   }
@mixin bag-icon                 { @include icon("\1f45c'"); }
@mixin calendar-icon            { @include icon("\1f4c5");  }
@mixin login-icon               { @include icon("\e740");   }
@mixin logout-icon              { @include icon("\e741");   }
@mixin mic-icon                 { @include icon("\1f3a4");  }
@mixin mute-icon                { @include icon("\1f507");  }
@mixin sound-icon               { @include icon("\1f50a");  }
@mixin volume-icon              { @include icon("\e742");   }
@mixin clock-icon               { @include icon("\1f554");  }
@mixin hourglass-icon           { @include icon("\23f3");   }
@mixin lamp-icon                { @include icon("\1f4a1");  }
@mixin light-down-icon          { @include icon("\1f505");  }
@mixin light-up-icon            { @include icon("\1f506");  }
@mixin adjust-icon              { @include icon("\25d1");   }
@mixin block-icon               { @include icon("\1f6ab");  }
@mixin resize-full-icon         { @include icon("\e744");   }
@mixin resize-small-icon        { @include icon("\e746");   }
@mixin popup-icon               { @include icon("\e74c");   }
@mixin publish-icon             { @include icon("\e74d");   }
@mixin window-icon              { @include icon("\e74e");   }
@mixin arrow-combo-icon         { @include icon("\e74f");   }
@mixin down-circled-icon        { @include icon("\e758");   }
@mixin left-circled-icon        { @include icon("\e759");   }
@mixin right-circled-icon       { @include icon("\e75a");   }
@mixin up-circled-icon          { @include icon("\e75b");   }
@mixin down-open-icon           { @include icon("\e75c");   }
@mixin left-open-icon           { @include icon("\e75d");   }
@mixin right-open-icon          { @include icon("\e75e");   }
@mixin up-open-icon             { @include icon("\e75f");   }
@mixin down-open-mini-icon      { @include icon("\e760");   }
@mixin left-open-mini-icon      { @include icon("\e761");   }
@mixin right-open-mini-icon     { @include icon("\e762");   }
@mixin up-open-mini-icon        { @include icon("\e763");   }
@mixin down-open-big-icon       { @include icon("\e764");   }
@mixin left-open-big-icon       { @include icon("\e765");   }
@mixin right-open-big-icon      { @include icon("\e766");   }
@mixin up-open-big-icon         { @include icon("\e767");   }
@mixin down-icon                { @include icon("\2b07");   }
@mixin left-icon                { @include icon("\2b05");   }
@mixin right-icon               { @include icon("\27a1");   }
@mixin up-icon                  { @include icon("\2b06");   }
@mixin down-dir-icon            { @include icon("\25be");   }
@mixin left-dir-icon            { @include icon("\25c2");   }
@mixin right-dir-icon           { @include icon("\25b8");   }
@mixin up-dir-icon              { @include icon("\25b4");   }
@mixin down-bold-icon           { @include icon("\e4b0");   }
@mixin left-bold-icon           { @include icon("\e4ad");   }
@mixin right-bold-icon          { @include icon("\e4ae");   }
@mixin up-bold-icon             { @include icon("\e4af");   }
@mixin down-thin-icon           { @include icon("\2193");   }
@mixin left-thin-icon           { @include icon("\2190");   }
@mixin right-thin-icon          { @include icon("\2192");   }
@mixin up-thin-icon             { @include icon("\2191");   }
@mixin ccw-icon                 { @include icon("\27f2");   }
@mixin cw-icon                  { @include icon("\27f3");   }
@mixin arrows-ccw-icon          { @include icon("\1f504");  }
@mixin level-down-icon          { @include icon("\21b3");   }
@mixin level-up-icon            { @include icon("\21b0");   }
@mixin shuffle-icon             { @include icon("\1f500");  }
@mixin loop-icon                { @include icon("\1f501");  }
@mixin switch-icon              { @include icon("\21c6");   }
@mixin play-icon                { @include icon("\25b6");   }
@mixin stop-icon                { @include icon("\25a0");   }
@mixin pause-icon               { @include icon("\2389");   }
@mixin record-icon              { @include icon("\26ab");   }
@mixin to-end-icon              { @include icon("\23ed");   }
@mixin to-start-icon            { @include icon("\23ee");   }
@mixin fast-forward-icon        { @include icon("\23e9");   }
@mixin fast-backward-icon       { @include icon("\23ea");   }
@mixin progress-0-icon          { @include icon("\e768");   }
@mixin progress-1-icon          { @include icon("\e769");   }
@mixin progress-2-icon          { @include icon("\e76a");   }
@mixin progress-3-icon          { @include icon("\e76b");   }
@mixin target-icon              { @include icon("\1f3af");  }
@mixin palette-icon             { @include icon("\1f3a8");  }
@mixin list-icon                { @include icon("\e005");   }
@mixin list-add-icon            { @include icon("\e003");   }
@mixin signal-icon              { @include icon("\1f4f6");  }
@mixin trophy-icon              { @include icon("\1f3c6");  }
@mixin battery-icon             { @include icon("\1f50b");  }
@mixin back-in-time-icon        { @include icon("\e771");   }
@mixin monitor-icon             { @include icon("\1f4bb");  }
@mixin mobile-icon              { @include icon("\1f4f1");  }
@mixin network-icon             { @include icon("\e776");   }
@mixin cd-icon                  { @include icon("\1f4bf");  }
@mixin inbox-icon               { @include icon("\e777");   }
@mixin install-icon             { @include icon("\e778");   }
@mixin globe-icon               { @include icon("\1f30e");  }
@mixin cloud-icon               { @include icon("\2601");   }
@mixin cloud-thunder-icon       { @include icon("\26c8");   }
@mixin flash-icon               { @include icon("\26a1");   }
@mixin moon-icon                { @include icon("\263d");   }
@mixin flight-icon              { @include icon("\2708");   }
@mixin paper-plane-icon         { @include icon("\e79b");   }
@mixin leaf-icon                { @include icon("\1f342");  }
@mixin lifebuoy-icon            { @include icon("\e788");   }
@mixin mouse-icon               { @include icon("\e789");   }
@mixin briefcase-icon           { @include icon("\1f4bc");  }
@mixin suitcase-icon            { @include icon("\e78e");   }
@mixin dot-icon                 { @include icon("\e78b");   }
@mixin dot-2-icon               { @include icon("\e78c");   }
@mixin dot-3-icon               { @include icon("\e78d");   }
@mixin brush-icon               { @include icon("\e79a");   }
@mixin magnet-icon              { @include icon("\e7a1");   }
@mixin infinity-icon            { @include icon("\221e");   }
@mixin erase-icon               { @include icon("\232b");   }
@mixin chart-pie-icon           { @include icon("\e751");   }
@mixin chart-line-icon          { @include icon("\1f4c8");  }
@mixin chart-bar-icon           { @include icon("\1f4ca");  }
@mixin chart-area-icon          { @include icon("\1f53e");  }
@mixin tape-icon                { @include icon("\2707");   }
@mixin graduation-cap-icon      { @include icon("\1f393");  }
@mixin language-icon            { @include icon("\e752");   }
@mixin ticket-icon              { @include icon("\1f3ab");  }
@mixin water-icon               { @include icon("\1f4a6");  }
@mixin droplet-icon             { @include icon("\1f4a7");  }
@mixin air-icon                 { @include icon("\e753");   }
@mixin credit-card-icon         { @include icon("\1f4b3");  }
@mixin floppy-icon              { @include icon("\1f4be");  }
@mixin clipboard-icon           { @include icon("\1f4cb");  }
@mixin megaphone-icon           { @include icon("\1f4e3");  }
@mixin database-icon            { @include icon("\e754");   }
@mixin drive-icon               { @include icon("\e755");   }
@mixin bucket-icon              { @include icon("\e756");   }
@mixin thermometer-icon         { @include icon("\e757");   }
@mixin key-icon                 { @include icon("\1f511");  }
@mixin flow-cascade-icon        { @include icon("\e790");   }
@mixin flow-branch-icon         { @include icon("\e791");   }
@mixin flow-tree-icon           { @include icon("\e792");   }
@mixin flow-line-icon           { @include icon("\e793");   }
@mixin flow-parallel-icon       { @include icon("\e794");   }
@mixin rocket-icon              { @include icon("\1f680");  }
@mixin gauge-icon               { @include icon("\e7a2");   }
@mixin traffic-cone-icon        { @include icon("\e7a3");   }
@mixin cc-icon                  { @include icon("\e7a5");   }
@mixin cc-by-icon               { @include icon("\e7a6");   }
@mixin cc-nc-icon               { @include icon("\e7a7");   }
@mixin cc-nc-eu-icon            { @include icon("\e7a8");   }
@mixin cc-nc-jp-icon            { @include icon("\e7a9");   }
@mixin cc-sa-icon               { @include icon("\e7aa");   }
@mixin cc-nd-icon               { @include icon("\e7ab");   }
@mixin cc-pd-icon               { @include icon("\e7ac");   }
@mixin cc-zero-icon             { @include icon("\e7ad");   }
@mixin cc-share-icon            { @include icon("\e7ae");   }
@mixin cc-remix-icon            { @include icon("\e7af");   }
@mixin github-icon              { @include icon("\f300");   }
@mixin github-circled-icon      { @include icon("\f301");   }
@mixin flickr-icon              { @include icon("\f303");   }
@mixin flickr-circled-icon      { @include icon("\f304");   }
@mixin vimeo-icon               { @include icon("\f306");   }
@mixin vimeo-circled-icon       { @include icon("\f307");   }
@mixin twitter-icon             { @include icon("\f309");   }
@mixin twitter-circled-icon     { @include icon("\f30a");   }
@mixin facebook-icon            { @include icon("\f30c");   }
@mixin facebook-circled-icon    { @include icon("\f30d");   }
@mixin facebook-squared-icon    { @include icon("\f30e");   }
@mixin gplus-icon               { @include icon("\f30f");   }
@mixin gplus-circled-icon       { @include icon("\f310");   }
@mixin pinterest-icon           { @include icon("\f312");   }
@mixin pinterest-circled-icon   { @include icon("\f313");   }
@mixin tumblr-icon              { @include icon("\f315");   }
@mixin tumblr-circled-icon      { @include icon("\f316");   }
@mixin linkedin-icon            { @include icon("\f318");   }
@mixin linkedin-circled-icon    { @include icon("\f319");   }
@mixin dribbble-icon            { @include icon("\f31b");   }
@mixin dribbble-circled-icon    { @include icon("\f31c");   }
@mixin stumbleupon-icon         { @include icon("\f31e");   }
@mixin stumbleupon-circled-icon { @include icon("\f31f");   }
@mixin lastfm-icon              { @include icon("\f321");   }
@mixin lastfm-circled-icon      { @include icon("\f322");   }
@mixin rdio-icon                { @include icon("\f324");   }
@mixin rdio-circled-icon        { @include icon("\f325");   }
@mixin spotify-icon             { @include icon("\f327");   }
@mixin spotify-circled-icon     { @include icon("\f328");   }
@mixin qq-icon                  { @include icon("\f32a");   }
@mixin instagrem-icon           { @include icon("\f32d");   }
@mixin dropbox-icon             { @include icon("\f330");   }
@mixin evernote-icon            { @include icon("\f333");   }
@mixin flattr-icon              { @include icon("\f336");   }
@mixin skype-icon               { @include icon("\f339");   }
@mixin skype-circled-icon       { @include icon("\f33a");   }
@mixin renren-icon              { @include icon("\f33c");   }
@mixin sina-weibo-icon          { @include icon("\f33f");   }
@mixin paypal-icon              { @include icon("\f342");   }
@mixin picasa-icon              { @include icon("\f345");   }
@mixin soundcloud-icon          { @include icon("\f348");   }
@mixin mixi-icon                { @include icon("\f34b");   }
@mixin behance-icon             { @include icon("\f34e");   }
@mixin google-circles-icon      { @include icon("\f351");   }
@mixin vkontakte-icon           { @include icon("\f354");   }
@mixin smashing-icon            { @include icon("\f357");   }
@mixin sweden-icon              { @include icon("\f601");   }
@mixin db-shape-icon            { @include icon("\f600");   }
@mixin logo-db-icon             { @include icon("\f603");   }