<audio preload="metadata"></audio>

<button class="file_preview-play_toggle" type="button">
  <svg class="file_preview-play" viewBox="0 0 16 16" aria-hidden="true">
    <path fill="currentColor" d="M5 3.2v9.6a.6.6 0 0 0 .9.5l7.2-4.8a.6.6 0 0 0 0-1L5.9 2.7a.6.6 0 0 0-.9.5Z"/>
  </svg>
  <svg class="file_preview-pause" viewBox="0 0 16 16" aria-hidden="true">
    <path fill="currentColor" d="M4.4 3h2.3v10H4.4zM9.3 3h2.3v10H9.3z"/>
  </svg>
</button>
