<div class="box choose_importer_box">
  <h1 class="dialog-header"><%= I18n.t('pageflow.editor.views.files_view.importer.heading') %></h1>

  <div class="content">
    <ul class="importers_panel">
    </ul>
  </div>

  <div class="footer">
    <button class="close"><%= I18n.t('pageflow.editor.templates.files_explorer.cancel') %></button>
  </div>
</div>
