<input type="checkbox">
<label class="file_name"></label>
<span class="duration"></span>

<div class="actions">
  <a class="remove" title="<%= I18n.t('pageflow.editor.templates.confirmable_file_item.remove') %>"></a>
</div>
