<div class="emulation_mode_button-wrapper"
     data-tooltip-align="top center">
  <div class="emulation_mode_button-desktop_icon"/>
  <div class="emulation_mode_button-phone_icon"/>
  <div class="emulation_mode_button-track" />
  <div class="emulation_mode_button-thumb" />
</div>
