<div class="explorer_files-filter_bar">
  <div class="explorer_files-pills"></div>
  <div class="explorer_files-search"></div>
</div>
<div class="explorer_files-breadcrumb"></div>
<div class="explorer_files-gallery"></div>
