<input type="range" min="0" max="0" step="0.01" value="0"
       title="<%= I18n.t('pageflow.editor.views.file_preview_progress_bar_view.position') %>"
       aria-label="<%= I18n.t('pageflow.editor.views.file_preview_progress_bar_view.position') %>">
<div></div>
