<div class="file_meta_data_overlay-arrow"></div>

<div class="file_meta_data_overlay-content">
  <div class="file_meta_data_overlay-details"></div>

  <div class="file_meta_data_overlay-file_references"></div>
</div>
