<div class="box">
  <h1 class="dialog-header">
    <%= I18n.t('pageflow.editor.templates.files_explorer.reuse_files') %>
  </h1>

  <div class="panels">
    <ul class="entries_panel">
    </ul>

    <div class="files_panel">
    </div>
  </div>

  <div class="footer">
    <button class="ok"><%= I18n.t('pageflow.editor.templates.files_explorer.ok') %></button>
    <button class="close"><%= I18n.t('pageflow.editor.templates.files_explorer.cancel') %></button>
  </div>
</div>
