<button class="file_thumbnail_button" type="button">
  <span class="file_thumbnail"></span>
</button>

<div class="file_item-info">
  <div class="actions">
    <% if (data.selectable) { %>
      <button class="select" type="button"><%= I18n.t('pageflow.editor.templates.file_item.select') %></button>
    <% } else { %>
      <button class="confirm" type="button" title="<%= I18n.t('pageflow.editor.templates.file_item.confirm') %>"></button>
      <button class="retry" type="button" title="<%= I18n.t('pageflow.editor.templates.file_item.retry') %>"></button>
      <button class="settings" type="button" title="<%= I18n.t('pageflow.editor.templates.file_item.settings') %>"></button>
    <% } %>
  </div>

  <span class="files-parent_folder">
    <span class="files-parent_folder_label visually_hidden"></span>
    <span class="files-parent_folder_name"></span>
  </span>

  <label class="file_item-name_row">
    <% if (data.multiSelectable) { %>
      <input class="file_item-check_box" type="checkbox" disabled />
    <% } %>

    <span class="file_name"></span>
  </label>
</div>
