<div class="filtered_files-banner">
  <span class="filtered_files-banner_text"></span>
  <button type="button" class="filtered_files-banner_dismiss"></button>
</div>
<div class="filtered_files-header">
  <div class="filtered_files-browse_controls">
    <div class="filtered_files-filter_bar">
    </div>
  </div>

  <div class="filtered_files-selection_bar">
    <div class="filtered_files-selection_bar_status">
      <span class="filtered_files-selection_bar_text" aria-live="polite"></span>
      <button type="button" class="filtered_files-selection_bar_dismiss"></button>
    </div>

    <div class="filtered_files-selection_bar_actions">
      <button type="button" class="filtered_files-selection_bar_action"></button>
      <button type="button" class="filtered_files-selection_bar_destroy"></button>
    </div>
  </div>
</div>
<div class="filtered_files-list"></div>
