<nav class="folder_breadcrumb-path"
     aria-label="<%= I18n.t('pageflow.editor.views.folder_breadcrumb_view.label') %>">
  <button class="folder_breadcrumb-root"
          type="button"
          title="<%= I18n.t('pageflow.editor.views.folder_breadcrumb_view.reset') %>"
          aria-label="<%= I18n.t('pageflow.editor.views.folder_breadcrumb_view.reset') %>">
  </button>
</nav>
