<input type="text"
       class="list_search_field-term"
       aria-label="<%= I18n.t('pageflow.editor.templates.list_search_field.placeholder') %>" />
<span class="list_search_field-placeholder">
  <%= I18n.t('pageflow.editor.templates.list_search_field.hint',
             {hotkey: '<kbd>/</kbd>'}) %>
</span>
<a href=""
   class="list_search_field-reset"
   title="<%= I18n.t('pageflow.editor.templates.list_search_field.reset') %>"></a>
