<input type="text" class="list_search_field-term" />
<span class="list_search_field-placeholder"></span>
<a href=""
   class="list_search_field-reset"
   title="<%= I18n.t('pageflow.editor.templates.list_search_field.reset') %>"></a>
