<div class="box">
  <h1 class="dialog-header"></h1>

  <p class="dialog-hint move_file_dialog-hint"></p>

  <div class="content">
    <ul class="move_file_dialog-targets"></ul>
  </div>

  <div class="footer">
    <button class="close" type="button">
      <%= I18n.t('pageflow.editor.views.move_file_dialog_view.cancel') %>
    </button>
  </div>
</div>
