// scss-lint:disable VendorPrefix

@mixin mask-bottom {
  // Safari 12 requires CORS headers for mask images
  -webkit-mask-image: image-path-ignoring-asset-host("pageflow/themes/default/mask_bottom.png");
  -webkit-mask-position: bottom left;
  -webkit-mask-repeat: repeat-x;
}

@mixin mask-none {
  -webkit-mask-image: none;
}
