////
/// @group page-colors
////

/// Color of links inside the text
$page-anchor-color: #fff !default;

/// Color of links inside the text on inverted pages
$page-anchor-inverted-color: #000 !default;

/// Typography settings of links in page content text
$page-anchor-typography: () !default;

.page {
  .page_text a {
    @extend %anchor;
    color: $page-anchor-color;
    pointer-events: all;
    margin-right: 0;
    @include typography($page-anchor-typography)
  }

  &.invert .page_text a {
    color: $page-anchor-inverted-color;
  }
}
