/// Max width for header title

$page-header-title-max-width: 700px !default;

/// Maximal width for content text and right aligned headlines and content

$page-content-text-position-right-max-width: 500px !default;

/// Max width for tagline and subtitle

$page-subtitle-tagline-max-width: 500px !default;


// Styles

.page {
  h1,
  h2 span.subtitle,
  h2 span.tagline,
  h3,
  p {
    max-width: $page-subtitle-tagline-max-width;
    width: 60%;

    @include mobile {
      width: 100%;
    }
  }

  .title {
    max-width: $page-header-title-max-width;
  }
}

// Styles when the text content is aligned right

.text_position_right {
  &.page {
    .contentText > * {
      margin-left: auto;
    }
    h1,
    h2 span.subtitle,
    h2 span.tagline,
    h3,
    p,
    h2 .title {
      margin-left: auto;
      max-width: $page-content-text-position-right-max-width;
      width: 60%;
    }
  }

  .page_header {
    margin-left: auto;
    width: 100%;

    @include mobile {
      width: 100%;
    }
  }
}
