/// Color of the gradient
/// @group page-colors
$page-shadow-color: #000 !default;

/// Color of the gradient on inverted pages
/// @group page-colors
$page-shadow-inverted-color: #fff !default;

.page {
  .shadow {
    @include shadow-start($page-shadow-color);
  }

  &.text_position_right .shadow {
    @include shadow-end($page-shadow-color);
  }

  // Not all page types support text position "center" so far. Make
  // sure styles only apply to those that explicitly opt in by setting
  // a class on their wrapper element.

  &.text_position_center .supports_text_position_center .shadow {
    background: transparentize($page-shadow-color, 0.3);
  }

  &.invert {
    .shadow {
      @include shadow-start($page-shadow-inverted-color);
    }

    &.text_position_right .shadow {
      @include shadow-end($page-shadow-inverted-color);
    }

    &.text_position_center .supports_text_position_center .shadow {
      background: transparentize($page-shadow-inverted-color, 0.3);
    }
  }
}
