/// Color of the cookie notice bar
$consent-bar-background-color: rgba(20, 20, 20, 0.9);

/// Color of the text inside cookie notice bar
$consent-bar-text-color: #fff;

$consent-bar-link-text-color: $main-color;

$consent-bar-typography: ();

$consent-bar-accept-all-button-background-color: $main-color-dark;
$consent-bar-deny-all-button-background-color: #333;
$consent-bar-configure-button-background-color: #333;
$consent-bar-save-button-background-color: #333;

$consent-bar-accept-all-button-text-color: #fff;
$consent-bar-deny-all-button-text-color: #fff;
$consent-bar-configure-button-text-color: #fff;
$consent-bar-save-button-text-color: #fff;

.consent_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $consent-bar-background-color;
  color: $consent-bar-text-color;
  padding: 10px 20px;
  z-index: 2;

  @include standard-typography(
    $consent-bar-typography
  );

  &-content {
    @extend %pageflow_widget_margin_right_max !optional;
  }

  &-text {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;

    a {
      color: $consent-bar-link-text-color;
    }
  }

  &-buttons {
    float: right;
    text-align: right;
  }

  &-accept_all,
  &-deny_all,
  &-configure,
  &-save {
    border: none;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 10px;
    font: inherit;
    display: inline-block;
  }

  &-accept_all {
    background-color: $consent-bar-accept-all-button-background-color;
    color: $consent-bar-accept-all-button-text-color;
  }

  &-deny_all {
    background-color: $consent-bar-deny-all-button-background-color;
    color: $consent-bar-deny-all-button-text-color;
  }

  &-configure {
    background-color: $consent-bar-configure-button-background-color;
    color: $consent-bar-configure-button-text-color;

    svg {
      fill: currentColor;
      margin-right: 8px;
    }
  }

  &-save {
    background-color: $consent-bar-save-button-background-color;
    color: $consent-bar-save-button-text-color;
    float: right;
  }

  &-vendor_box {
    @extend %pageflow_widget_margin_right_max !optional;
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: $consent-bar-background-color;
    color: $consent-bar-text-color;
    padding: 10px 20px;
    margin-bottom: 5px;
    max-width: 400px;
    width: 90%;
    box-sizing: border-box;
    display: none;

    label {
      display: block;
      margin-bottom: 5px;
      padding: 5px 0;
    }
  }

  &-expanded {
    .consent_bar-vendor_box {
      display: block;
    }

    .consent_bar-configure {
      display: none;
    }
  }
}

@include pageflow-widget-margin("consent_bar_visible", "bottom") {
  @include desktop {
    margin-bottom: 60px;
  }
}
