
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.base {
  position: absolute;
  animation: fadeIn 0.2s ease-in 0s 1 alternate;
  z-index: 1;
}

.top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
