@value fade-duration from './values.module.css';

.backdrop {
  position: absolute;
  height: 100%;
}

.backdropInner {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
}

.backdrop .backdropInner,
.boxShadow {
  transition: opacity fade-duration ease;
}

.backdrop-below .backdropInner,
.boxShadow-above {
  opacity: 0;
}

.foreground {
  transition: opacity fade-duration ease, visibility fade-duration;
}

.foreground-below {
  opacity: 0;
  visibility: hidden;
}
