@value fade-duration from './values.module.css';

.backdrop {
  position: absolute;
  height: 100%;
}

.backdropInner {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
}

.boxShadow,
.backdrop .backdropInner {
  transition: opacity fade-duration ease;
}

.boxShadow-above,
.backdrop-below .backdropInner {
  /* Win against inline style on GradientBox */
  opacity: 0 !important;
  pointer-events: none;
}
