@value fade-duration from './values.module.css';

.backdrop {
  position: absolute;
  height: 100%;
}

.backdropInner {
  composes: fixed from './shared.module.css';
}

.backdrop .backdropInner,
.boxShadow {
  transition: opacity fade-duration ease;
}

.backdrop-below .backdropInner,
.boxShadow-above {
  /* Win against inline style on GradientBox */
  opacity: 0 !important;
  pointer-events: none;
}

.foreground {
  transition: opacity fade-duration ease, visibility fade-duration;
}

.foreground-below {
  composes: fadedOut from './shared.module.css';
}
