@value fade-duration from './values.module.css';

.backdrop {
  position: absolute;
  height: 100%;
}

.backdropInner {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
}

.backdrop .backdropInner,
.foreground {
  transition: opacity fade-duration ease, visibility fade-duration;
}

.foreground-above,
.backdrop-below .backdropInner {
  opacity: 0;
  visibility: hidden;
}
