@value fade-duration from './values.module.css';

.backdrop {
  position: absolute;
  height: 100%;
}

.backdropInner {
  composes: fixed from './shared.module.css';
}

.backdrop {
  transition: opacity fade-duration ease;
}

.backdrop-below {
  opacity: 0;
  pointer-events: none;
}

.foreground {
  transition: opacity fade-duration ease, visibility fade-duration;
}

.foreground-below {
  composes: fadedOut from './shared.module.css';
}
