.backdrop {
  composes: clip from '../utils.module.css';
  position: absolute;
  height: 100%;
}

.backdropInner {
  composes: fixed from './shared.module.css';
  transform: translateZ(0);
  backface-visibility: hidden;
}
