.backdrop {
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* To fix the rendering on firefox */
@-moz-document url-prefix(){
  .backdrop {
    display: grid;
    justify-content: inherit;
  }
}

.backdropInner {
  position: sticky;
  bottom: 0;
  width: 100%;

  transform: translateZ(0);
  backface-visibility: hidden;
}

.backdropInner2 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.foreground {
}
