@value fade-duration from './values.module.css';

.backdrop {
  composes: clip from '../utils.module.css';
  position: absolute;
  /* We only want to clip the backdrop at the top. Extend it by the
     height of one viewport to ensure it is still visible when the fade
     is happening. */
  height: calc(100% + 100vh);
}

.backdropInner {
  composes: fixed from './shared.module.css';
  transform: translateZ(0);
  backface-visibility: hidden;
}

.foreground {
  transition: opacity fade-duration ease, visibility fade-duration;
}

.foreground-above {
  composes: fadedOut from './shared.module.css';
}
