@value fade-duration from './values.module.css';

.backdrop {
  composes: clip from '../utils.module.css';
  position: absolute;
  /* We only want to clip the backdrop at the top. Extend it by the
     height of one viewport to ensure it is still visible when the fade
     is happening. */
  height: calc(100% + 100vh);
}

.backdropInner {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;

  transform: translateZ(0);
  backface-visibility: hidden;
}

.boxShadow {
  transition: opacity 1s ease, visibility 1s;
}

.boxShadow-above {
  opacity: 0;
  visibility: hidden;
}
