.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
}

.backdropInner {
  position: sticky;
  top: var(--widget-margin-top-min, 0px);
  height: calc((100 * var(--vh)) - var(--widget-margin-top-min, 0px));
}
