@value fade-duration from './values.module.css';

.backdrop {
  position: sticky;
  top: 0;
  height: 0;
}

.foreground {
  transition: opacity fade-duration ease, visibility fade-duration;
}

.foreground-above {
  opacity: 0;
  visibility: hidden;
}

.bbackdrop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.bbackdrop-below::before {
  visibility: hidden;
}
