@value fade-duration from './values.module.css';

.backdrop {
  position: sticky;
  top: 0;
  height: 0;
}

.foreground {
  transition: opacity fade-duration ease, visibility fade-duration;
}

.foreground-above {
  composes: fadedOut from './shared.module.css';
}
