@value fade-duration from './values.module.css';

.backdrop {
  position: sticky;
  top: 0;
  height: 0;
}

.boxShadow {
  transition: opacity fade-duration ease, visibility fade-duration;
}

.boxShadow-above {
  opacity: 0;
  visibility: hidden;
}
