@value fade-duration from './values.module.css';

.backdrop {
  position: sticky;
  top: var(--widget-margin-top-min, 0px);
  height: 0;
}

.boxShadow {
  transition: opacity fade-duration ease;
}

.boxShadow-above {
  /* Win against inline style on GradientBox */
  opacity: 0 !important;
  pointer-events: none;
}
