.fixed {
  position: fixed;
  top: var(--fixed-positioning-containing-block-offset, 0);
  height: 100vh;
  width: 100%;
}

/*
  Used with backdrop content elements to prevent player controls from
  being cropped on small viewports (i.e., when browser bars are
  visible).
*/
.justifyBottom.fixed {
  top: auto;
  bottom: 0;
}

.fadedOut {
  opacity: 0;
  visibility: hidden;
}
