@value fade-duration from './values.module.css';

.fixed {
  position: fixed;
  top: calc(var(--fixed-positioning-containing-block-offset, 0px) +
            var(--widget-margin-top-min, 0px));
  height: 100vh;
  width: 100%;
}

/*
  Used with backdrop content elements to prevent player controls from
  being cropped on small viewports (i.e., when browser bars are
  visible).
*/
.justifyBottom.fixed {
  top: auto;
  bottom: 0;
}

.fadedOut {
  opacity: 0;
  visibility: hidden;
}

/*
  Override transition set on .foreground in individual transition
  modules (e.g. scrollInFadeOut) to animate --foreground-opacity
  instead of opacity.
*/
.perElementFade {
  transition: --foreground-opacity fade-duration ease, visibility fade-duration !important;
}

.perElementFade.fadedOut {
  --foreground-opacity: 0;
  opacity: 1;
}

.perElementFade .foregroundOpacity {
  opacity: var(--foreground-opacity, 1);
}
