.container {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 140px;
  height: 100%;
}

.clickMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.menuBar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.menuBarInner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.timeDisplay {
  position: relative;
  bottom: 20px;
}

.playControl {
  color: #fff;
  z-index: 1;
  position: absolute;
  bottom: 78px;
  left: 30px;
}

.playControl svg {
  transform: scale(2);
}

.waveWrapper {
  position: absolute;
  bottom: 48px;
  width: 98%;
  margin: 0 1%;
  height: 90px;
  z-index: 1;
}
