
.container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 90px;
  bottom: 1px;
}

.posterContainer {
  bottom: 100px;
  position: absolute;
}

.posterPlaceholder {
  height: 50px;
  position: relative;
  top: 20px;
}

.menus {
  position: absolute;
  right: -1px;
  z-index: 5;
}

.timeDisplay {
  position: absolute;
  right: 35px;
}

.playControl {
  z-index: 5;
  height: 32px;
}

.waveWrapper {
  display: inline-block;
  position: relative;
  pointer-events: all;
  height: 100%;
  width: 90%;
  margin: 5%;
}

