.file_input {
  position: relative;
  white-space: nowrap;
  height: 80px;

  .file_thumbnail {
    width: 60px;
    height: 60px;
    vertical-align: bottom;
    margin-right: 5px;
    border: solid 1px #888;
  }

  div.file_thumbnail {
    float: left;
  }

  div.file_name {
    position: absolute;
    top: 20px;
    left: 70px;
    right: 20px;
    overflow: hidden;
  }

  a.choose {
    @include icon-only-button;
    @include pencil-icon;

    position: absolute;
    top: 53px;
    right: 0;
  }

  a.unset {
    @include icon-only-button($base-color: #d00);
    @include cancel-circled-icon;

    position: absolute;
    top: 53px;
    right: 35px;
  }

  .drop_down_button {
    button {
      @include fa-ellipsis-v-icon;
      width: 31px;
    }

    position: absolute;
    top: 53px;
    left: 70px;
  }

  .inline_help {
    white-space: normal;
  }

  &.is_unset {
    .unset,
    .drop_down_button {
      display: none;
    }
  }
}
