@charset 'UTF-8';

@mixin icon($char) {
  &::before {
    font-family: 'entypo';
    content: $char;
  }
}

@mixin fontawesome-icon($char, $position: "before") {
  &::#{$position} {
    font-family: "FontAwesome";
    content: $char;
  }
}

@import "icons/fontawesome";
@import "icons/entypo";

@mixin font-italic-icon         { @include fontawesome-icon("\f033");   }
@mixin font-underline-icon      { @include fontawesome-icon("\f0cd");   }
@mixin font-bold-icon           { @include fontawesome-icon("\f032");   }
@mixin font-list-ol-icon        { @include fontawesome-icon("\f0cb");   }
@mixin font-list-ul-icon        { @include fontawesome-icon("\f0ca");   }
@mixin font-check-square        { @include fontawesome-icon("\f046");   }