@mixin dir-ltr {
  [dir=ltr] & { @content; }
}

@mixin dir-rtl {
  [dir=rtl] & { @content; }
}

@mixin border-start($value) {
  @include dir-ltr { border-left: $value; }
  @include dir-rtl { border-right: $value; }
}

@mixin border-end($value) {
  @include dir-ltr { border-right: $value; }
  @include dir-rtl { border-left: $value; }
}

@mixin border-start-width($value) {
  @include dir-ltr { border-left-width: $value; }
  @include dir-rtl { border-right-width: $value; }
}

@mixin border-end-width($value) {
  @include dir-ltr { border-right-width: $value; }
  @include dir-rtl { border-left-width: $value; }
}

@mixin padding-start($value) {
  @include dir-ltr { padding-left: $value; }
  @include dir-rtl { padding-right: $value; }
}

@mixin padding-end($value) {
  @include dir-ltr { padding-right: $value; }
  @include dir-rtl { padding-left: $value; }
}

@mixin margin-start($value) {
  @include dir-ltr { margin-left: $value; }
  @include dir-rtl { margin-right: $value; }
}

@mixin margin-end($value) {
  @include dir-ltr { margin-right: $value; }
  @include dir-rtl { margin-left: $value; }
}

@mixin position-start($value) {
  @include dir-ltr { left: $value; }
  @include dir-rtl { right: $value; }
}

@mixin position-end($value) {
  @include dir-ltr { right: $value; }
  @include dir-rtl { left: $value; }
}

@mixin float-start {
  @include dir-ltr { float: left; }
  @include dir-rtl { float: right; }
}

@mixin float-end {
  @include dir-ltr { float: right; }
  @include dir-rtl { float: left; }
}

@mixin text-align-end {
  @include dir-ltr { text-align: right; }
  @include dir-rtl { text-align: left; }
}
