%anchor {
  @include fa-caret-right-icon;
  text-decoration: none;
  pointer-events: all;
  position: relative;
  margin-left: 6px;
  margin-right: 6px;

  @include phone {
    margin-left: 5px;
    margin-right: 5px;
  }

  &:hover {
    text-decoration: underline;
  }

  &:before {
    display: inline-block;
    top: 7px;
    width: 10px;
    height: 12px;
  }
}
