/// Custom loading spinner is disabled by default.
///
/// - `"true"`: Use custom spinner from custom theme (pageflow/themes/new_theme).
///
/// - `"false"`: Use default spinner from default theme.
///   directory.
$custom-loading-spinner: false !default;

/// Spinner uses background default image.
$loading-spinner-background-image: "default" !default;

/// Spinner background color.
$loading-spinner-background-color: #3b5159 !default;

/// Spinner glow (radiant) color.
$loading-spinner-glow-color: #7595a0 !default;

@if not $custom-loading-spinner {
  .loading_spinner {
    background-color: $loading-spinner-background-color !important;

    &:before {
      content: "";
      $radial: 140px;
      @include radial-gradient(circle, $loading-spinner-glow-color 0%, $loading-spinner-background-color $radial);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: inline-block;
      height: 100%;
      width: 100%;
      opacity: 0;
      @include animation-name(gradientAnimation);
      @include animation-duration(5s);
      @include animation-iteration-count(infinite);
      @include animation-timing-function(ease-in);
    }

    @include keyframes(gradientAnimation) {
      0%  { opacity: 0; }
      50% { opacity: 1; }
      100% { opacity: 0; }
    }

    .loading_spinner_inner {
      left: 50%;
      top: 50%;
      width: 190px;
      height: 164px;
      margin-left: -60px;
      margin-top: -65px;
      position: absolute;

      div {
        width: 190px;
        height: 164px;
        background-size: 130px 112px;
        background-repeat: no-repeat;
        position: absolute;
        background-image: image-url('pageflow/themes/#{$theme-name}/loading_spinner_inner.png');
      }
    }
  }
} @else {
  .loading_spinner {
    background-color: $loading-spinner-background-color;

    @if $loading-spinner-background-image == "default" {
      background-image: image-url("pageflow/loading_spinner_glow.jpg");
    }
  }
}
