.navigation_share_box {
  padding: 15px;
  text-align: center;

  .share_box_icons {
    display: flex;
    text-align: center;

    .menu_item {
      min-height: 50px;
      margin: 0 auto;
    }

    a.share.whats_app,
    a.share.telegram {
      display: none;
    }

    a {
      float: left;
      position: relative;
      width: 60px;
      height: 45px;
      text-align: center;
      text-decoration: none;
      margin: 0 auto;

      svg {
        width: 60px;
        height: 25px;
        margin-bottom: 7px;
      }

      p {
        font-family: SourceSansPro;
        font-size: 13px;
        text-align: center;
        line-height: 1;
        margin: 0;
      }
    }
  }
}
