.js .vjs-play-control {
  background-image: none;
  width: 36px;
  height: 36px;
  margin-top: 12px;
  margin-left: 13px;

  @include fa-play-icon;

  &:before {
    color: white;
    font-size: 34px;
    top: -15px;
    left: 3px;
    text-shadow: 0px 0px 2px black;
  }

  &.vjs-playing, &.vjs-pause {
    &:before {
      left: 0px;
    }
    @include fa-pause-icon;
  }

  &:hover, &:active {
    &:before {
      color: $main-color;
      text-shadow: 0px 0px 2px black;
    }
  }
}