.videoWrapper {
  @extend %pageflow_widget_margin_right !optional;

  @include desktop {
    position: relative;
    height: 100%;
    width: auto;
  }

  @include pad_portrait {
    position: initial;
    height: initial;
  }

  .vjs-control-bar {
    display: none !important;
  }

  .vjs-loading-spinner {
    display: none !important;
  }
}
