@value breakpoint-sm from 'pageflow-scrolled/values/breakpoints.module.css';

.text li,
.text p {
  margin: 1.375rem 0 0 0;
}

.text a {
  color: var(--theme-text-block-dark-link-color,
             var(--theme-text-block-link-color, currentColor));
  word-wrap: break-word;
}

.darkBackground a {
  color: var(--theme-text-block-light-link-color,
             var(--theme-text-block-link-color, currentColor));
}

.text ol,
.text ul {
  margin: 0;
  padding-left: 20px;
  /* Prevent list markers from overlapping with floated elements. */
  clear: both;
}

.text ul {
  list-style-type: var(--theme-text-block-unordered-list-style-type)
}

.text blockquote {
  padding: 0.5em 0.5em 0.5em 1.6em;
  margin: 1.375rem 0 0 0;
  position: relative;
  /* Prevent block quote symbol from overlapping with floated elements. */
  overflow: hidden;
}

.text blockquote::before {
  content: "“";
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  top: 0.1em;
  left: 0;
  line-height: 1em;
  opacity: 0.5;
}

@media screen and breakpoint-sm {
  .text blockquote {
    margin-left: 0.6875rem;
    padding-left: 2em;
    padding-right: 1.375rem;
  }

  .text blockquote::before {
    font-size: 3em;
    top: 0;
  }
}

.layout-centerRagged {
  text-align: center;
}

.layout-centerRagged ol,
.layout-centerRagged ul {
  padding-left: 0;
  list-style-position: inside;
}
