.badge {
  --dot-size: 12px;
  --icon-size: 15px;
  display: flex;
  align-items: center;
  gap: space(1);
  padding: space(1.5);
  border-radius: rounded(full);
  background: var(--ui-accent-color);
  color: var(--ui-on-accent-color);
  font-family: inherit;
  font-size: space(3.5);
  font-weight: 600;
  line-height: 0;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 0 space(1) var(--ui-accent-color-lighter);
  opacity: 0.9;
}

.badge:hover,
.active {
  opacity: 1;
}

.iconOnly {
  background: none;
  color: currentColor;
  box-shadow: none;
}

.dot {
  background: transparent;
  box-shadow: none;
}

.dot::before {
  content: '';
  display: block;
  width: var(--dot-size);
  height: var(--dot-size);
  margin: calc((var(--icon-size) - var(--dot-size)) / 2);
  border-radius: 50%;
  background: var(--ui-accent-color);
}

.icon {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
}
