.badge {
  display: flex;
  align-items: center;
  gap: space(1);
  height: space(7);
  padding: space(1) space(3);
  border-radius: rounded(full);
  background: var(--ui-accent-color);
  color: var(--ui-on-accent-color);
  font-family: inherit;
  font-size: space(3.5);
  font-weight: 600;
  line-height: 0;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 0 space(1) var(--ui-accent-color-glow);
  opacity: 0.9;
}

.badge:hover,
.active {
  opacity: 1;
}

.iconOnly {
  background: none;
  color: currentColor;
  box-shadow: none;
  padding: 10px;
  height: auto;
}

.dot {
  width: 0.7rem;
  height: 0.7rem;
  padding: 0;
}

.icon {
  display: block;
  width: 15px;
  height: 15px;
}
