.highlight {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background-color: var(--ui-selection-color-lightest);
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px var(--ui-selection-color),
              0 0 0 calc(2px + space(1)) var(--ui-selection-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: space(1);
  width: space(9);
  border-radius: rounded(full);
  background: var(--ui-accent-color);
  color: var(--ui-on-accent-color);
  font-family: var(--ui-font-family);
  font-size: space(3.5);
  font-weight: 600;
  padding: space(1.5) space(3);
  box-shadow: 0 0 0 space(1) var(--ui-accent-color-glow);
  opacity: 0.9;
}

.highlight:hover .pill,
.highlight:focus .pill {
  opacity: 1;
}
