.wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  font-family: var(--ui-font-family);
  font-size: var(--ui-font-size);
  color: var(--ui-on-surface-color);
}

.bubble {
  min-width: space(72);
  max-width: space(96);
  margin-top: space(2);
}
