.toolbar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1100;
  padding: space(2);
}

.button {
  font-family: var(--ui-font-family);
  color: var(--ui-on-primary-color);
  background: var(--ui-primary-color);
  border: none;
  border-radius: rounded(md);
  padding: space(2);
  cursor: pointer;
  box-shadow: var(--ui-box-shadow-md);
  display: flex;
  align-items: center;
}
