.toolbar {
  position: fixed;
  bottom: space(3);
  right: space(3);
  z-index: 1100;
  display: flex;
  align-items: center;
  gap: space(2);
  padding: space(1);
  background: var(--ui-primary-color);
  border: 1px solid var(--ui-on-primary-color-lightest);
  border-radius: rounded(lg);
  box-shadow: var(--ui-box-shadow-md);
}

.navigation {
  display: flex;
  align-items: center;
  gap: space(1);
}

.button {
  font-family: var(--ui-font-family);
  color: var(--ui-on-primary-color);
  background: transparent;
  border: none;
  border-radius: rounded(sm);
  padding: space(1);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button:disabled {
  opacity: 0.3;
  cursor: default;
}

.count,
.segmented {
  font-size: size(3.5);
}

.count {
  font-family: var(--ui-font-family);
  font-variant-numeric: tabular-nums;
  color: var(--ui-on-primary-color-light);
  padding: 0 space(1);
  margin: 0 space(-1) 0 space(2);
  white-space: nowrap;
}

.chevronUp {
  transform: rotate(180deg);
}

.chevronDown {
  transform: rotate(0deg);
}

.segmented {
  display: flex;
  align-items: center;
  gap: space(1);
  border: solid 1px var(--ui-on-primary-color-lightest);
  border-radius: rounded(md);
}

.segment {
  font-family: var(--ui-font-family);
  display: flex;
  align-items: center;
  gap: space(1);
  color: var(--ui-on-primary-color-light);
  background: transparent;
  border: none;
  padding: space(2) space(2);
  cursor: pointer;
  white-space: nowrap;
}

.segment:first-child {
  border-top-left-radius: rounded(md);
  border-bottom-left-radius: rounded(md);
}

.segment:last-child {
  border-top-right-radius: rounded(md);
  border-bottom-right-radius: rounded(md);
}

.segment[aria-pressed='true'] {
  color: var(--ui-on-primary-color);
  background: var(--ui-on-primary-color-lightest);
}

.segmentCount {
  font-variant-numeric: tabular-nums;
  border-radius: rounded(sm);
  padding: 0 space(1);
  background: var(--ui-on-primary-color-lightest);
}

.segment[aria-pressed='true'] .segmentCount {
  background: var(--ui-on-primary-color-lighter);
}

.addButton {
  color: var(--ui-on-accent-color);
  background: var(--ui-accent-color);
  border-radius: rounded(md);
  padding: space(2);
  margin-left: space(2);
}
