.VideoEmbed {
  margin-top: 15px;
}

.embedWrapper {
  overflow:hidden;
  position:relative;
  padding-top: 56.25%;
  background: black;
}

.embedPlayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
