.wrapper {
  height: 50lvh;
  font-family: var(--theme-widget-font-family);
}

.button {
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: space(2);
  align-items: center;
  text-align: center;
  border: 0;
  padding: space(2);
  background-color: transparent;
  color: var(--theme-light-content-text-color);
  font-size: 1.25rem;
  cursor: pointer;
}
