<li class="<%= page_navigation_css_class(page) %>">
  <%= link_to "##{page.perma_id}", data: {link: page.id, chapter_id: page.chapter_id} do %>
    <%= image_tag('', data: {src: asset_path(page_thumbnail_url(page, :thumbnail_overview_mobile))}) %>
    <%= page.title %>
  <% end %>
</li>
