.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: opacity 1s ease;
}

/* dark shadow */
.align-right .shadowBlack,
.align-left .shadowBlack {
  background: linear-gradient(to right, #000 0%,rgba(0, 0, 0, 0) 100%);
}

@media (min-width: 950px) {
  .align-right .shadowBlack {
    background: linear-gradient(to left, #000 0%,rgba(0, 0, 0, 0) 100%);
  }
}

.intersecting .shadowBlack,
.align-center .shadowBlack {
  background: #000;
}

/* light shadow */
.align-right .shadowWhite,
.align-left .shadowWhite {
  background: linear-gradient(to right, #fff 0%,rgba(255, 255, 255, 0) 100%);
}

@media (min-width: 950px) {
  .align-right .shadowWhite {
    background: linear-gradient(to left, #fff 0%,rgba(255, 255, 255, 0) 100%);
  }
}

.intersecting .shadowWhite,
.align-center .shadowWhite {
  background: #fff;
}