.static,
.dynamic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: opacity 1s ease;
  /* Prevents shadow from flickering on iPhone 12/iOS 14 */
  will-change: opacity;
}

.static {
  max-width: var(--zero-if-motif-intersecting);
}

/* dark shadow */
.align-right.dark .static,
.align-left.dark .static {
  background: linear-gradient(to right, #000 0%,rgba(0, 0, 0, 0) 100%);
}

@media (min-width: 950px) {
  .align-right.dark .static {
    background: linear-gradient(to left, #000 0%,rgba(0, 0, 0, 0) 100%);
  }
}

.dark .dynamic,
.align-center.dark .static,
.align-centerRagged.dark .static {
  background: rgba(0, 0, 0, 0.9);
}

/* light shadow */
.align-right.light .static,
.align-left.light .static {
  background: linear-gradient(to right, #fff 0%,rgba(255, 255, 255, 0) 100%);
}

@media (min-width: 950px) {
  .align-right.light .static {
    background: linear-gradient(to left, #fff 0%,rgba(255, 255, 255, 0) 100%);
  }
}

.light .dynamic,
.align-center.light .static,
.align-centerRagged.light .static {
  background: rgba(255, 255, 255, 0.9);
}

@media print {
  .shadow {
    display: none;
  }
}
