.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button {
  composes: unstyledButton from '../../utils.module.css';
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 60%);
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.button svg {
  fill: #fff;
  width: 56px;
  height: 56px;
}

.hidden {
  opacity: 0;
}

.animated {
  animation-name: fadeOut;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
  }
}
