.backgroundVideo .video-js.video-viewport {
    position: absolute;
    top: 0;
    overflow: hidden;
}

.backgroundVideo .video-js .vjs-control-bar {
	display: none;
}

.backgroundVideo .video-js .vjs-control-bar.vjs-lock-showing {
  display: none !important;
}

.backgroundVideo .video-js .vjs-loading-spinner {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.backgroundVideo .video-js .vjs-tech {
}

.backgroundVideo .video-js .vjs-poster {
  background-size: cover;
}

/* .js .contentText {
	@include desktop {
		margin-bottom: 100px;
	}
} */

.backgroundVideo {
  video,
  .video-js {
    display: none;
  }
}

.js.has_no_mobile_platform .backgroundVideo {
  .background_image {
    display: none;
  }

  video,
  .video-js{
    display: block;
  }
}