.has_phone_platform .page .videoPage .videoWrapper {
  margin-right: 0;
  position: initial;
  height: 100%;

  video {
    width: 1px;
    height: 1px;
    left: -1;
  }
}

.video-js.player {
  position: relative;
}

.js .video-js.player {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.video-js {
  .vjs-big-play-button {
    display: none;
  }
}

.videoPage .video-js {
  background-color: transparent;

  .vjs-tech {
    height: auto;
  }
}

.page .videoPage {
  .shadow {
    display: none;
  }

  .contentText {
    padding-top: 2em;
  }

  .scroller.vjs-fade-out {
    visibility: initial;
  }

  .scroller {
    /* required for IE 10 to enable mouse events */
    background-image: image-url('pageflow/empty.png');
  }

  .vjs-poster-mobile {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .vjs-poster {
    background-color: black;
  }

  .backgroundArea {
    height: initial;
  }

  video {
    height: auto;
    width: 100%;
  }
}

.js .page .videoPage {
  .contentText {
    padding-top: initial;
    margin-bottom: 200px;
  }

  .shadow {
    display: block;
  }

  .backgroundArea {
    height: 100%;
  }

  .vjs-tech {
    height: 100%;
  }
}

.non_js .text_position_right .videoPage {
  .page_header {
    margin-left: 0;
    max-width: initial;

    > * {
      max-width: 500px;
      width: 60%;
      margin-left: auto;
    }
  }
}