<!--[if lt IE 9]>
<div class="ie8_hint">
  <p>
  Liebe Nutzer,
  </p>
  <p>
  leider nutzen Sie eine veraltete Version Ihres
  Browsers. Deshalb können die an dieser Stelle vorgesehenen Inhalte
  nicht korrekt dargestellt werden. Bitte aktualisieren Sie auf eine
  aktuelle Version.
  Unter <a href="http://www.browserchoice.eu/">http://www.browserchoice.eu/</a>
  stehen alternative Browser zur Verfügung.  Für eine Installation
  benötigen Sie gegebenenfalls Administrator-Rechte.
  </p>
  <p>
    <a href="#" class="close">Hinweis Schließen</a>
  </p>
</div>
<![endif]-->
