<% if theme.has_scroll_back_indicator? %>
  <div class="scroll_back_indicator scroll_indicator indicator" data-direction="back">
    <%= t('pageflow.public.scroll_back_indicator') %>
  </div>
<% end %>

<div class="scroll_next_indicator scroll_indicator indicator" data-direction="next">
  <span class="scroll_indicator-scroll">
    <%= t('pageflow.public.scroll_indicator') %>
  </span>
  <span class="scroll_indicator-swipe">
    <%= t('pageflow.public.swipe_to_continue') %>
  </span>
</div>

<div class="hidden_text_indicator indicator">
  <%= t('pageflow.public.swipe_indicator') %>
</div>
