<div class="loading_spinner" id="loading_spinner" style="position: absolute; width: 100%; height: 100%; background-color: #252526; top: 0; left: 0;">
  <div class="loading_spinner_inner"><div></div></div>
</div>
