<div class="multimedia_alert">
  <div class="multimedia_alert_box">
    <div class="alert_block">
    <h1 class="alert_headline">Hinweis</h1>
    <div class="alert_icon speaker"></div>
      <p>Dieses multimediale Reportage-Format nutzt neben Texten und Fotos auch
        Audios und Videos. Bitte prüfen Sie daher vor dem Start, ob die
        Lautsprecher Ihres Systems eingeschaltet sind.</p>
    </div>
    <div class="alert_block">
      <div class="alert_icon scrolling"></div>
      <p class="scroll_hint desktop">Zur jeweils nächsten Kapitelseite gelangen Sie, indem Sie das Mausrad
        oder die Pfeiltasten auf der Tastatur bedienen.</p>
      <p class="scroll_hint mobile">Zur jeweils nächsten Kapitelseite gelangen Sie durch Wischen.</p>
      <a class="close" href="#" tabindex="1">Los geht's</a>
    </div>
  </div>
</div>
