<div class="mute_toggle" title="<%= t('pageflow.public.volume') %>" data-muted-title="<%= t('pageflow.public.mute_off') %>" data-not-muted-title="<%= t('pageflow.public.mute_on') %>">### MUTE ###</div>
