<%= content_tag(:div,
                class: navigation_bar_css_class(entry, class: 'navigation'),
                data: {widget: 'default_navigation'}) do %>
  <%= render 'pageflow/entries/navigation/bar_top', :entry => entry %>
  <div class="scroller">
    <ul class="navigation_thumbnails">
      <%= render :partial => 'pageflow/entries/navigation/page',
                 :collection => entry.pages.displayed_in_navigation %>
    </ul>
  </div>
  <%= render 'pageflow/entries/navigation/bar_bottom', :entry => entry %>
<% end %>
