<%= content_tag(:div,
                class: ["navigation", entry.home_button.enabled? ? 'with_home_button' : nil].compact.join(' '),
                data: {widget: 'default_navigation'}) do %>
  <%= render 'pageflow/entries/navigation/bar_top', :entry => entry %>
  <div class="scroller">
    <ul class="navigation_thumbnails">
      <%= render :partial => 'pageflow/entries/navigation/page',
                 :collection => entry.pages.displayed_in_navigation,
                 :locals => {:image_style => :navigation_thumbnail_small, :image_width => 85} %>
    </ul>
  </div>
  <%= render 'pageflow/entries/navigation/bar_bottom', :entry => entry %>
<% end %>
