<ul id="skipLinks">
  <li>
    <a href="#content" class="content_link" tabindex="1"><%= t('pageflow.public.skip_links_content') %></a>
  </li>
  <li>
    <a href="#header" tabindex="1"><%= t('pageflow.public.skip_links_top_navigation') %></a>
  </li>
  <li>
    <a href="#navigation" tabindex="1"><%= t('pageflow.public.skip_links_navigation') %></a>
  </li>
</ul>
