<ul id="skipLinks">
  <li>
    <a href="#content" class="content_link" tabindex="1">zum Inhalt</a>
  </li>
  <li>
    <a href="#header" tabindex="1">zur Navigation</a>
  </li>
  <li>
    <a href="#navigation" tabindex="1">zur Seitennavigation</a>
  </li>
</ul>
