<%= cache [entry.locale, page] do %>
  <%= content_tag(:section,
                  id: page.perma_id,
                  class: page_css_class(page),
                  data: {
                    template: page.template,
                    id: page.id, chapter_id: page.chapter_id
                  }) do -%>
    <% concat(render_page_template(page, entry: entry)) -%>
  <% end %>
  <a class="to_top" href="#content"><%= t('pageflow.public.goto_top') %></a>
<% end %>
