.container {
  position: absolute;
  top: -0.5em;
  left: -50px;
  padding-left: 50px;
  width: 100%;
  height: 100%;
  padding: 0.5em 0 8px 50px;
}

.dropTarget {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0.8;
}

.dropIndicator {
  position: absolute;
  left: 50px;
  right: 0;
  border-top: solid 2px currentColor;
  opacity: 0;
}

.isOver .dropIndicator {
  opacity: 1;
}
