.container {
  position: relative;
}

.shy {
  overflow-wrap: normal;
}

.shy [data-slate-string] {
  position: relative;
}

.selected .shy [data-slate-string]::before {
  content: " ";
  position: absolute;
  display: block;
  border: solid 5px transparent;
  border-bottom-color: currentColor;
  width: 0;
  height: 0;
  bottom: 1px;
  left: -5px;
  opacity: 0.7;
}

.hoveringToolbarContainer {
  position: relative;
}

.hoveringToolbar {
  position: absolute;
  z-index: 2;
  top: -10000px;
  left: -10000px;
  visibility: hidden;
  white-space: nowrap;
}

.selection {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  pointer-events: none;
}
