<a class="edit_chapter" href="">
  <span class="pictogram"></span>
  <span class="number"></span>
  <span class="title"></span>
  <span class="failure_icon" title=<%= I18n.t('pageflow.editor.templates.chapter_item.save_error') %> />
</a>

<ul class="pages outline"></ul>

<a href="" class="add_page"><%= I18n.t('pageflow.editor.templates.chapter_item.new_page') %></a>
