<div class="blank_slate">
  Keine Dateien freizugeben.
</div>

<div class="video_files_panel">
  <h2>Videos</h2>
</div>

<div class="audio_files_panel">
  <h2>Audios</h2>
</div>

<div class="summary">
</div>
<button class="confirm_encoding">Ausgewählte Dateien transcodieren</button>
