<div class="blank_slate">
  <p>
    Alle Dateien wurden zur Transcodierung freigegeben.
  </p>
  <p>
    Auf der <a href="#/files/video_files">'Dateien verwalten'-Seite</a> wird der Fortschritt
    der Verarbeitung angezeigt.
  </p>
</div>

<div class="video_files_panel">
  <h2>Videos</h2>
</div>

<div class="audio_files_panel">
  <h2>Audios</h2>
</div>

<div class="summary">
</div>
<button class="confirm">Ausgewählte Dateien transcodieren</button>
