<a class="back">Gliederung</a>
<a class="destroy">Löschen</a>

<div class="failure">
  <p>Beim Speichern der Seite ist ein Problem aufgetreten.</p>
  <p class="message"></p>
  <a class="retry" href="">Erneut versuchen</a>
</div>

<div class="page_type"></div>

<div class="configuration_container"></div>