<a class="back"><%= I18n.t('pageflow.editor.templates.edit_page_link.back') %></a>
<a class="destroy"><%= I18n.t('pageflow.editor.templates.edit_page_link.destroy') %></a>
<div class="form_container"></div>
