<a class="close" href="#">Schließen</a>
<a class="publish" href="#">Veröffentlichen...</a>

<ul class="menu">
  <li>
    <a class="edit_entry_meta_data" href="#" data-path="/meta_data">Titel und Optionen</a>
    <span class="failure_icon" title="Beim Speichern der Metadaten ist ein Fehler aufgetreten." />
  </li>
  <li>
    <a class="manage_files" href="#" data-path="/files">Dateien verwalten</a>
  </li>
</ul>

<h2>Gliederung</h2>

<ul class="chapters outline navigatable">
</ul>

<a class="add_chapter" href="">Neues Kapitel</a>
