<div class="box">
  <h2><%= I18n.t('pageflow.editor.templates.files_explorer.reuse_files') %></h2>

  <div class="panels">
    <div class="entries_panel">
    </div>

    <div class="files_panel">
    </div>
  </div>

  <div class="footer">
    <button class="ok"><%= I18n.t('pageflow.editor.templates.files_explorer.ok') %></button>
    <button class="close"><%= I18n.t('pageflow.editor.templates.files_explorer.cancel') %></button>
  </div>
</div>
