<div class="box">
  <h2>Dateien Wiederverwenden</h2>

  <div class="panels">
    <div class="entries_panel">
    </div>

    <div class="files_panel">
    </div>
  </div>

  <div class="footer">
    <button class="ok">OK</button>
    <button class="close">Abbrechen</button>
  </div>
</div>
