<div class="box file_importer_box">
  <div class="dialog-header">
    <h2><%= I18n.t('pageflow.editor.file_importers.'+importer_key+'.dialog_label') %></h2>
  </div>
  

  <div class="content_panel">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      <span><%= I18n.t('pageflow.editor.views.files_view.authenticating') %></span>
    </div>
  </div>

  <div class="footer">
    <button class="import"><%= I18n.t('pageflow.editor.views.files_view.import') %></button>
    <button class="close"><%= I18n.t('pageflow.editor.templates.files_explorer.cancel') %></button>
  </div>
</div>
