<span class="file_thumbnail"></span>

<span class="file_name"></span>
<a class="select">Auswählen</a>

<div class="actions">
  <a class="confirm" title="Überprüfen und bestätigen"></a>
  <a class="retry" title="Erneut versuchen"></a>
  <a class="remove" title="Löschen"></a>
  <a class="cancel" title="Abbrechen"></a>
</div>

<div class="details">
  <ul class="file_stage_items"></ul>

  <div class="file_meta_data">
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <th>Rechte</th>
          <td><input type="text" class="rights"/></td>
        </tr>
      </tbody>
      <tbody class="attributes">
      </tbody>
      <tbody class="downloads">
        <tr>
          <th>Original</th>
          <td><a class="original" href="#" download target="_blank">Herunterladen</a></td>
        </tr>
      <tbody>
    </table>
  </div>
</div>
