<div class="box">
  <h2>Dateien Wiederverwenden</h2>

  <ul class="entries_panel">
  </ul>

  <div class="files_panel">
  </div>

  <div class="footer">
    <button class="ok">OK</button>
    <button class="close">Abbrechen</button>
  </div>
</div>
