<div class="filtered_files-banner">
  <span class="filtered_files-banner_prefix">
    <%= I18n.t('pageflow.editor.views.filtered_files_view.banner_prefix') %>
  </span>
  <span class="filtered_files-filter_name"></span>
  <a href=""
     class="filtered_files-reset_filter"
     title="<%= I18n.t('pageflow.editor.views.filtered_files_view.reset_filter') %>">
  </a>
</div>
