<div class="box">
  <h2><%= I18n.t('pageflow.editor.templates.help.title') %></h2>

  <div class="placeholder"></div>

  <div class="footer">
    <a class="close" href=""><%= I18n.t('pageflow.editor.templates.help.close') %></a>
  </div>
</div>
