<div class="box">
  <h2>Help</h2>

  <nav>
      <ul>
        <li data-section="intro"><a href="">First steps</a></li>
        <li data-section="outline"><a href="">Manage chapters and pages</a></li>
        <li data-section="page"><a href="">Page options</a></li>
        <li data-section="publish"><a href="">Publish story</a></li>
      </ul>
  </nav>

  <section data-name="intro">
    <h3>First steps</h3>
    <p>
      This is the Pageflow editor where you create and edit your stories.
      Use the panel on the right hand side to manage options, file uploads and your pages.
      Add new chapters and pages to get started.
    </p>
    <p>
      The left part of the editor contains the preview which will automatically be updated on any changes you make.
    </p>
    <p>
      Use the handle on the seperator bar to change the panel size or hide it for a fullscreen preview.
    </p>
    <p>
      You can edit your story at any time without changing the published version.
      Use the <em>publish</em> button to update what your readers see.
    </p>
    <p>
      Please note that each story can only be edited by one user at a time.
      Use the <em>close</em> button to tell pageflow that you are finished editing.
      Other authorized users may then open the story.
    </p>
  </section>

  <section data-name="outline">
    <h3>Manage chapters and pages</h3>
    <p>
      The <em>outline</em> depicts the chapter and page structure and can be used to navigate between pages.
    </p>
    <p>
      Drag items and drop them anywhere to rearrage the order. This works for both: Chapters and pages.
      Click on an item to open its properties view.
    </p>
  </section>

  <section data-name="page">
    <h3>Page options</h3>

    <p>
      Every page is of one <em>pagetype</em>. The four most basic pagetypes are also the most important and versatile ones:

      <ul>
        <li>
            <em>Background-Image:</em>
            <p>For fullscreen background images and text.</p>
        </li>
        <li>
            <em>Video:</em>
            <p>Shows a video and player controls.</p>
        </li>
        <li>
            <em>Background-Video:</em>
            <p>Similar to the background image type, just with a looped fullscreen video without any controls.
            Please note that this video will be stretched to cover the screen (in contrast to the video-pagetype).
            Depending on the target devices diaplay aspect ratio, some areas of the video may be clipped.
            Please note that most mobile devices do not allow video-autoplay nor videos in the background.
            Therefore pageflow automatically displays an image on these devices instead.
            </p>
        </li>
        <li>
            <em>Audio:</em>
            <p>Embeds an audio with player controls onto the page.</p>
        </li>
      </ul>
    </p>
  </section>

  <section data-name="publish">
    <h3>Publish story</h3>

    <p>
      Click the <em>publish</em> button in the editor panel to publish the current state of your story.
      Stories can be published indefinitely or for a given time.
    </p>
  </section>

  <div class="footer">
    <a class="close" href="#">Close</a>
  </div>
</div>
