<div class="box">
  <h2>Bildauschnitt anpassen</h2>

  <label>Seitenverhältnis</label>
  <ul class="screens">
  </ul>

  <div class="wrapper">
    <div class="container">
      <div class="mask top"></div>
      <div class="mask left"></div>
      <div class="mask bottom"></div>
      <div class="mask right"></div>

      <div class="slider horizontal">
      </div>
      <div class="slider vertical">
      </div>
    </div>
  </div>

  <div class="footer">
    <a href="" class="save">Speichern</a>
    <a href="" class="close">Abbrechen</a>
  </div>
</div>
