<div class="checking notice">
  <p><%= I18n.t('pageflow.editor.templates.locked.loading') %></p>

  <a class="close" href="#"><%= I18n.t('pageflow.editor.templates.locked.close') %></a>
</div>

<div class="error notice">
  <div class="message"></div>

  <a class="close" href="#"><%= I18n.t('pageflow.editor.templates.locked.close') %></a>
  <a class="break" href="#"><%= I18n.t('pageflow.editor.templates.locked.open_here') %></a>
</div>

