<div class="checking notice">
  <p>Der Beitrag wird zur Bearbeitung geöffnet. Bitte warten...</p>

  <a class="close" href="#">Editor schließen</a>
</div>

<div class="error notice">
  <div class="message"></div>

  <a class="close" href="#">Editor schließen</a>
  <a class="break" href="#">Stattdessen hier öffnen</a>
</div>

