<li class="uploading"><span class="count">0</span> Dateien werden gerade hochgeladen.</li>
<li class="failed"><span class="count">0</span> Datensätze konnten nicht gespeichert werden. <a class="retry">Erneut versuchen</a></li>
<li class="saving">Änderungen werden gespeichert...</li>
<li class="saved">Alle Änderungen wurden gespeichert.</li>

<li class="confirmable_files">
  <span class="count">0</span> Dateien müssen für die Transcodierung freigeben werden.
  <a href="#/confirmable_files" class="display_confirmable_files">Anzeigen</a>
</li>
