<div class="box">
  <h2><%= I18n.t('pageflow.editor.templates.page_selection.title') %></h2>

  <div class="wrapper editor">
    <div class="storyline_picker">
    </div>
  </div>

  <div class="footer">
    <a href="" class="close"><%= I18n.t('pageflow.editor.templates.page_selection.cancel') %></a>
  </div>
</div>
