<div>
  <span class="missing_page_thumbnail"></span>
  <span class="page_thumbnail"></span>
  <div class="title"></div>
  <div class="label"></div>
  <a class="edit" title="<%= I18n.t('pageflow.editor.templates.page_link_item.edit') %>"></a>
<div>
