<label>
  <span class="name"><%= I18n.t('pageflow.editor.templates.page_links.label') %></span>
</label>
<ul class="links outline"></ul>

<a href="" class="add_link"><%= I18n.t('pageflow.editor.templates.page_links.add') %></a>
