<h2><%= I18n.t('pageflow.editor.templates.storyline_outline.header') %></h2>
<ul class="storyline_outline_chapters chapters"></ul>

<a class="add_chapter" href=""><%= I18n.t('pageflow.editor.templates.storyline_outline.new_chapter') %></a>
