<div class="storyline_picker_storylines">
  <div class="storyline_picker_select_region"></div>
  <a href="" class="add_storyline" title="<%= I18n.t('pageflow.editor.templates.storyline_picker.add') %>"></a>
  <a href="" class="edit_storyline" title="<%= I18n.t('pageflow.editor.templates.storyline_picker.edit') %>"></a>
</div>

<div class="storyline_picker_main_region"></div>
