<div class="text_tracks_container">
  <div class="files_upload_panel">
    <div class="files_panel">
    </div>
    <a class="upload" href=""><%= I18n.t('pageflow.editor.templates.text_tracks.upload') %></a>
  </div>

  <div class="selected_file_panel">
    <h2 class="selected_file_header"><%= I18n.t('pageflow.editor.templates.text_tracks.edit_file_header') %></h2>
    <div class="selected_file_region">
    </div>
  </div>
</div>
