.item {
  display: flex;
  align-items: center;
  gap: space(1);
}

.swatch {
  background-color: var(--color);
  width: space(4);
  height: space(4);
  border: solid 1px var(--ui-on-surface-color-lighter);
  border-radius: rounded(sm);
}

.text {
  margin-left: space(1);
}

.blank .swatch {
  display: none;
}
