.outer {
  position: relative;
}

.outer .inlineHelp {
  right: 0;
  top: 0;
  box-sizing: border-box;
}

.outer .inlineHelp:hover {
  padding: 7px 30px 7px 5px;
}

.outer .inlineHelp::before {
  color: var(--ui-on-primary-color);
}

.outer .inlineHelp:hover::before {
  color: var(--ui-primary-color-lighter);
}
