.container {
  min-height: 300px;
  border-radius: 10px;
  background-color: #fff;
}

.placeholder_wrapper {
  min-height: 300px;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  justify-content: center;
}

.placeholder_upper_row {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.placeholder_item {
  box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
}

.placeholder_item::before {
  content: '';
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
  animation: load 2s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
  from {
      left: -150px;
  }
  to   {
      left: 100%;
  }
}