.view :global(.tabs_view-tabs) > :nth-child(2) {
  margin-left: 5px;
}

.view :global(.tabs_view-tabs) > :nth-child(2)::before {
  content: "›";
  margin-left: -15px;
  margin-right: 10px;
  font-weight: normal;
}
