.background_positioning {
  .box {
    top: 5%;
    width: 90%;
    max-width: 1000px;
    max-height: 745px;
    padding-bottom: 20px;
    overflow: hidden;
    height: 80%;
    overflow-y: scroll;
  }

  label {
    float: left;
    margin-right: 10px;
    top: 12px;
    position: relative;
    font-size: 12px;
  }

  ul.screens {
    border-bottom: solid 1px #aaa;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      padding: 5px 10px;
      margin-bottom: 1px;
      background-color: #eee;

      a {
        text-decoration: none;
        color: #000;
      }

      &:hover {
        background-color: #ddd;
      }

      &.active {
        background-color: #D2E5FA;
        font-weight: bold;
      }
    }
  }

  .wrapper {
    text-align: center;
    margin: 35px;
  }

  .previews {
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 20px;

    > div {
      height: 100%;
      white-space: nowrap;
    }
  }

  .preview {
    display: inline-block;
    margin: 5px 10px;
    vertical-align: middle;

    .image {
      border: solid 1px #444;
      background-size: cover;
    }

    .label {
      padding: 3px 0;
      font-size: 11px;
      color: #444;
    }
  }

  .container {
    display: inline-block;
    position: relative;
    height: 100%;

    img {
      border: solid 1px #444;
      display: block;
      max-height: 300px;
      max-width: 600px;
      cursor: crosshair;
    }
  }

  .slider {
    position: absolute;
    border: none;
    background: #ddd;

    a {
      @include background-icon-center($font-size: 20px);
      @include arrow-combo-icon;
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      margin: 0;
      background-color: #fff;
      border: solid 1px #888;
      border-radius: 4px;
      left: auto;
      top: auto;
    }

    &.horizontal {
      bottom: -10px;
      left: 9px;
      right: 11px;
      height: 2px;

      a {
        @include transform(rotate(90deg));
        margin-left: -20px;
        margin-top: -20px;
      }
    }

    &.vertical {
      right: -10px;
      top: 12px;
      bottom: 11px;
      width: 2px;
      height: auto;

      a {
        margin-left: -20px;
        margin-bottom: -20px;
      }
    }
  }

  .percent {
    position: absolute;
    font-size: 12px;
    white-space: nowrap;

    input {
      width: 45px;
      height: 25px;
      box-sizing: border-box;
      text-align: right;
    }

    &.horizontal {
      left: -65px;
      bottom: -26px;
    }

    &.vertical {
      left: 100%;
      top: -30px;
    }
  }

  a.save {
    @include check-icon;
    @include icon-button;
  }

  a.close {
    @include icon-button(#888);
  }
}
