.disabled_atmo_indicator {
  @include background-icon-center($color: #fff, $font-size: 30px);
  @include mute-icon;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 50px;
  height: 50px;

  &:hover {
    opacity: 0.5;
  }
}