.disabled_atmo_indicator {
  @include background-icon-center($color: var(--ui-on-primary-color), $font-size: 30px);
  @include mute-icon;

  background-color: var(--ui-on-surface-color-light);
  border-radius: 5px;
  width: 50px;
  height: 50px;

  &:hover {
    opacity: 0.5;
  }
}
