&.file_settings_dialog {
  .box {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    max-width: 1100px;
    max-height: 800px;
    background-color: #eee;
  }

  .content {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 50px;
    left: 20px;
    overflow: auto;
  }

  .footer {
    position: absolute;
    right: 20px;
    bottom: 10px;
    left: 20px;
  }

  .edit_file {
    max-width: 600px;
  }
}
