&.file_settings_dialog {
  .box {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    max-width: 1100px;
    max-height: 800px;
  }

  .content {
    position: absolute;
    top: space(4);
    right: space(4);
    bottom: space(12);
    left: space(4);
    padding: 0 space(2);
    overflow: auto;
  }

  .footer {
    position: absolute;
    right: space(4);
    bottom: space(2);
    left: space(4);
  }

  .edit_file {
    max-width: 600px;
  }
}
