
.choose_importer_box{
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  max-width: 1100px;
  height: 70vh;
  .content{
    display: table;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    .importers_panel{
      display: table-row;
      li{
        display: table-cell;
        vertical-align: middle;
        button{
          background-color: #6AACFC;
          border-radius: 30%;
          color: white;
          padding: 5px;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
      }
    }
  }
  .footer{
    position: absolute;
    bottom: 10px;
    right: 10px;
    .close{
      border: 1px solid #6d5b5b;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 #aeaeae;
      color: white;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      background-color: #888;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #888), color-stop(100%, #766262));
      background-image: -webkit-linear-gradient(#888, #766262);
      background-image: linear-gradient(#888, #766262);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 #684d4d;
      background-clip: padding-box;
      color: #fff;
      padding-top: 5px;
      padding-bottom: 4px;
      padding-left: 12px;
    }
  }
}

.file_importer_box{
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  max-width: 1100px;
  height: 70vh;
  .content_panel{
    width: 100%;
    .lds-spinner{
      margin: auto;
      span{
        position: absolute;
        bottom: -20px;
        right: -5px;
      }
    }
  }
  .footer{
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: 15px;
    .disclaimer{
      margin-left: 20px;
      font-size: 10px;
      float: left;
      margin-top: 10px;
    }
    .import{
      border: 1px solid #1c86fe;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 #b6d5f8;
      color: white;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      background-color: #6aacf7;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6aacf7), color-stop(100%, #2b8efe));
      background-image: -webkit-linear-gradient(#6aacf7, #2b8efe);
      background-image: linear-gradient(#6aacf7, #2b8efe);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 #067bff;
      background-clip: padding-box;
      color: #fff;
      padding-top: 5px;
      padding-bottom: 4px;
      padding-left: 12px;
    }
    .close{
      border: 1px solid #6d5b5b;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 #aeaeae;
      color: white;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      background-color: #888;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #888), color-stop(100%, #766262));
      background-image: -webkit-linear-gradient(#888, #766262);
      background-image: linear-gradient(#888, #766262);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 #684d4d;
      background-clip: padding-box;
      color: #fff;
      padding-top: 5px;
      padding-bottom: 4px;
      padding-left: 12px;
    }
  }
}

.lds-spinner {
  color: official;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background:black;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
