.files_explorer {
  .box {
    height: 100%;
    @include box-sizing(border-box);

    h2 {
      margin: 0;
      position: absolute;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }


  .panels {
    padding-top: 30px;
    padding-bottom: 50px;
    height: 100%;
    @include box-sizing(border-box);
  }

  .entries_panel, .files_panel {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ddd;
    overflow: auto;
  }

  .entries_panel {
    width: 20%;

    li.blank_slate {
      text-align: center;
      padding: 10px 5px 20px 5px;
      color: #888;
    }
  }

  .files_panel {
    width: 77%;

    .tabs_view {
      height: 100%;
      position: relative;

      .tabs_view-container {
        @include position(absolute, 37px  0 0px 0);
        height: auto;
      }
    }
  }

  .footer {
    width: 98%;
    @include position(absolute, 0 37px 14px 0);
  }

  .close {
    @include cancel-icon;
    @include icon-button(#888);
  }

  .ok {
    @include check-icon;
    @include icon-button();
  }
}
