.file_meta_data {
  margin-left: -65px;
  white-space: normal;

  table {
    margin-bottom: 5px;
    width: 100%;
  }

  th,
  td {
    vertical-align: top;
  }

  th {
    width: 45px;
    padding: 7px 20px 5px 0;
    font-weight: normal;
    text-align: right;
    font-size: 11px;
    color: var(--ui-on-surface-color-light);
  }

  td {
    padding: 5px 5px 5px 0;
  }

  a {
    text-decoration: underline;
  }

  .edit {
    @include background-icon-center($font-size: 15px,
                                    $color: var(--ui-primary-color-light));
    @include pencil-icon;

    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: -2px;

    &:hover {
      @include background-icon-color(var(--ui-primary-color));
    }
  }
}
