ul.files {
  margin-top: space(2);

  > li {
    background-color: var(--ui-primary-color-lightest);
    border-radius: rounded();
    margin-bottom: 2px;
    position: relative;
    padding: 37px 10px 0 70px;
    white-space: nowrap;
    min-height: 23px;
    scroll-margin-top: 100px;
  }

  > li:not(.expanded) .details {
    display: none;
  }

  li.blank_slate {
    text-align: center;
    padding: 10px 5px 20px 5px;
    color: var(--ui-on-surface-color-light);
  }

  .file_thumbnail_button {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: block;
  }

  .file_thumbnail {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: block;
  }

  .file_name {
    margin-bottom: 10px;
    display: block;

    @include label;
  }

  .actions {
    position: absolute;
    right: 10px;
    top: 3px;
    text-align: right;

    button {
      float: left;
      margin-left: 5px;
      min-width: space(8);
    }
  }

  button.settings,
  button.cancel,
  button.confirm,
  button.retry {
    @include icon-only-button();
  }

  button.settings {
    @include cog-icon;
  }

  button.remove {
    @include icon-only-button("destructive");
    @include trash-icon;
  }

  button.cancel {
    @include cancel-icon;
  }

  button.confirm {
    @include check-icon;
  }

  button.retry {
    @include arrows-ccw-icon;
  }

  button.select {
    @include simple-button("primary");

    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;

    position: absolute;
    top: 3px;
    left: 70px;
  }
}
