.info_box {
  p {
    margin-bottom: 1em;
  }

  .shortcuts {
    dt {
      display: block;
      margin-top: space(3);
      position: relative;
    }

    dd {
      margin: 0.5em 0 0.5em 6px;
    }

    kbd {
      border: solid 1px currentColor;
      border-radius: 4px;
      padding: 3px 5px;
      display: inline-block;
      font-size: 11px;
    }
  }

  .inline_help {
    padding-top: 36px;
  }

  // Make sure the label is on top when an inline help text is displayed
  dt:hover .shortcut {
    z-index: 4;
    position: relative;
  }
}
