.spinner > div {
  background-color: var(--ui-on-surface-color-lighter);
  height: 100%;
  width: 6px;
  display: inline-block;
  @include animation(loading 1.2s infinite ease-in-out);
}

.loading .spinner {
  margin: 20px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  .rect2 {
    @include animation-delay(-1.1s);
  }

  .rect3 {
    @include animation-delay(-1.0s);
  }

  .rect4 {
    @include animation-delay(-0.9s);
  }

  .rect5 {
    @include animation-delay(-0.8s);
  }
}
