.other_entry_item {
  width: 100%;

  &:hover {
    background-color: var(--ui-primary-color-lightest);
  }

  &.active {
    background-color: var(--ui-primary-color-lighter);
  }

  a {
    display: block;
    padding: space(2);
  }
}
