.page_selection {
  .box {
    top: 5%;
    width: 90%;
    max-width: 400px;
    max-height: 745px;
    padding-bottom: 20px;
    height: 80%;
  }

  .wrapper {
    background-color: #fff;
    padding-right: 10px;

    overflow: hidden;
    overflow-y: scroll;

    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 0;
    right: 10px;

    .add_page {
      display: none;
    }

    .edit_chapter {
      cursor: default;
      outline: none;
    }
  }

  .footer {
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
}