.select_button {
  position: relative;
  float: right;

  button {
    @include icon-button("primary");
    @include up-icon;
  }

  .dropdown {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    @include transition(visibility 200ms, opacity 200ms, top 200ms);

    position: absolute;
    z-index: 3;

    padding: 10px;

    top: 18px;
    right: -10px;
  }

  .dropdown-menu {
    position: relative;
    background-color: var(--ui-surface-color);
    border: 1px solid var(--ui-on-surface-color-lighter);
    border-radius: rounded(sm);
    box-shadow: var(--ui-box-shadow);
    padding: 1px;

    li {
      padding: 7px 10px;
      cursor: pointer;

      &:hover {
        background-color: var(--ui-selection-color-light);
      }
    }
  }

  &:hover .dropdown {
    @include transition(visibility 0ms, opacity 100ms, top 200ms);
    visibility: visible;
    pointer-events: auto;

    top: 20px;
    opacity: 1;
  }
}
