.select_button {
  position: relative;
  float: right;

  button {
    @include icon-button;
    @include up-icon;
  }

  .dropdown {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    @include transition(visibility 200ms, opacity 200ms, top 200ms);

    position: absolute;
    z-index: 1;

    padding: 10px;

    top: 14px;
    right: -10px;
  }

  .dropdown-menu {
    position: relative;
    background-color: #eee;
    border: 1px solid #ccc;

    li {
      padding: 7px 10px;
      cursor: pointer;
    }
  }


  &:hover .dropdown {
    @include transition(visibility 0ms, opacity 100ms, top 200ms);
    visibility: visible;
    pointer-events: auto;

    top: 18px;
    opacity: 1;
  }
}
