.text_tracks {
  $table-cell-color: #eee;

  height: 700px;

  .text_tracks_container {
    background-color: #fff;
    min-height: 100%;
  }

  .files_upload_panel {
    position: absolute;
    top: 60px;
    right: 370px;
    bottom: 50px;
    left: 20px;
    overflow: auto;
  }

  .selected_file_panel {
    position: absolute;
    right: 20px;
    top: 60px;
    width: 330px;
  }

  .table_view {
    width: 100%;
  }

  td {
    background-color: $table-cell-color;
  }

  .upload {
    position: relative;
    top: 12px;
  }
}
