.toolbar {
  margin-left: -2px;
  margin-top: 3px;
  position: relative;

  > a {
    @include background-icon-center($font-size: 12px);
    @include hidden-text;

    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: top;

    border: solid 1px #eee;

    &:hover {
      background-color: #eee;
    }
  }

  .wysihtml5-command-active {
    border: solid 1px #bbb;
    background-color: #ddd;
  }


  [data-wysihtml5-command="bold"] {
    @include font-bold-icon;
  }

  [data-wysihtml5-command="italic"] {
    @include font-italic-icon;
  }

  [data-wysihtml5-command="underline"] {
    @include font-underline-icon;
  }

  [data-wysihtml5-command="createLink"] {
    @include link-icon;

    &.wysihtml5-command-active + .dialog [data-wysihtml5-dialog-action="cancel"] {
      display: none;
    }
  }

  .wysihtml5-command-dialog-opened {
    margin-bottom: 83px;
  }

  .dialog {
    position: absolute;
    top: 30px;
    left: -2px;
    right: -6px;
    padding: 5px 10px;

    background-color: #fff;
    border: solid 1px #444;

    a {
      @include button;
      padding: 5px 10px;
      margin-top: 5px;
    }
  }

  .dialog:before {
    content: " ";
    position: absolute;
    top: -20px;
    left: 97px;
    pointer-events: none;
    border-top: solid 10px transparent;
    border-right: solid 10px transparent;
    border-bottom: solid 10px #222;
    border-left: solid 10px transparent;
  }

  .dialog:after {
    content: " ";
    position: absolute;
    top: -18px;
    left: 98px;
    pointer-events: none;
    border-top: solid 9px transparent;
    border-right: solid 9px transparent;
    border-bottom: solid 9px #fff;
    border-left: solid 9px transparent;
  }
}
