/* fading background, vertical scrolling content */

section.cut {
  &.active {
    display: block;
  }

  &.animate-in-forwards {
    display: block;
  }
  &.animate-out-forwards {
    display: block;
  }
  &.animate-in-backwards {
    display: block;
  }
  &.animate-out-backwards {
    display: block;
  }
  &.animate-in-backwards, &.animate-in-forwards {
    z-index: 2;
  }
}