/* scroll in, no scroll out from bottom */

section.scroll-in {
  .blackLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: none;
    background-color: black;
  }
  &.invert .blackLayer {
    background-color: white;
  }
  .content_and_background {
    box-shadow: 0px 0px 50px black;
    @include transition(1s ease);
  }
  &.active div.content_and_background {
    @include transform(translate3d(0,0,0));
  }

  &.active .blackLayer {
    opacity: 1;
  }

  &.animate-in-forwards {
    .content_and_background {
      @include transform(translate3d(0,105%,0));
    }

    .blackLayer {
      opacity: 0;
    }
  }
  &.animate-out-forwards {
    .content_and_background {
      @include transform(translate3d(0,0,0));

      .backgroundArea {
        opacity: 1;
      }
    }
    .blackLayer {
      opacity: 1;
    }
  }
  &.animate-in-backwards {
    .content_and_background {
      @include transform(translate3d(0,0,0));
    }
    .blackLayer {
      opacity: 1;
    }
  }
  &.animate-out-backwards {
    .content_and_background {
      @include transform(translate3d(0,105%,0));
    }
    .blackLayer {
      opacity: 0;
    }
  }
}