.details {
  position: relative;
  padding-left: 22px;
}

.details summary {
  display: inline-flex;
  oveflow: hidden;
  font-weight: bold;
  cursor: pointer;
}

.details summary::-webkit-details-marker {
  display: none;
}

.details summary > svg {
  position: absolute;
  left: -11px;
  top: 0;
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.details[open] summary > svg {
  transform: rotate(90deg);
}

.answer p {
  margin: 1.375rem 0 0 0;
}

.layout-centerRagged {
  text-align: center;
}
