.tabs_view {
  &-scroller {
    position: relative;
    overflow: hidden;
    height: 36px;
    border-bottom: solid 1px var(--ui-on-surface-color-lighter);
  }

  &-tabs {
    white-space: nowrap;
    padding: 0;
    position: absolute;

    > button {
      display: inline-block;
      cursor: pointer;
      color: var(--ui-on-surface-color-light);
      padding: 10px 10px;
      height: 14px;
      box-sizing: content-box;
      border: none;
      background-color: transparent;
      line-height: inherit;
      outline-offset: -1px;

      &.active {
        color: var(--ui-primary-color);
        border-bottom: solid 2px var(--ui-primary-color);
        font-weight: bold;
      }

      &.spinner {
        padding-left: 27px;
        @include background-icon-left($color: var(--ui-primary-color));
        @include background-icon-animation(blink);
        @include up-bold-icon;
      }
    }
  }
}
