@value lightContentSurfaceColor: var(--theme-light-content-surface-color, #fff);
@value darkContentSurfaceColor: var(--theme-dark-content-surface-color, #101010);

@value lightContentTextColor: var(--theme-light-content-text-color, #fff);
@value darkContentTextColor: var(--theme-dark-content-text-color, #222);

/* see src/frontend/global.module.css */

.contentColorScope {
  --theme-light-content-surface-color: var(--root-light-content-surface-color);
  --theme-dark-content-surface-color: var(--root-dark-content-surface-color);
  --theme-light-content-text-color: var(--root-light-content-text-color);
  --theme-dark-content-text-color: var(--root-dark-content-text-color);
}
