.full {
  height: 100%;
}

.container {
  composes: full;
  background-color: #000;
  color: #fff;
  cursor: move;
}

.controls {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background: linear-gradient(30deg, transparent, transparent 60%, #000000a6);
  padding: 5px 5px 40px 70px;
  pointer-events: none;
}

.controls > * {
  pointer-events: auto;
}

.spinner {
  animation: spin 0.75s linear infinite;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -20px;
  display: none;
}

.spinner.isLoading {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
