<p class="may_delete">
  <%= t('pageflow.admin.users.me.delete_account_hint') %>
    <%= link_to(t('pageflow.admin.users.me.delete_account'),
                main_app.delete_me_admin_users_path,
                class: 'delete_account') %>
</p>
