@import "pageflow/mixins";

@import "pageflow/admin/badge_list";
@import "pageflow/admin/columns";
@import "pageflow/admin/embed_code";
@import "pageflow/admin/embedded_index_table";
@import "pageflow/admin/entries";
@import "pageflow/admin/features";
@import "pageflow/admin/filters";
@import "pageflow/admin/forms";
@import "pageflow/admin/hint";
@import "pageflow/admin/icon_button";
@import "pageflow/admin/icon_link";
@import "pageflow/admin/publication_state_indicator";
@import "pageflow/admin/quotas";
@import "pageflow/admin/tabs_view";
@import "pageflow/admin/tooltip_bubble";

#wrapper {
  overflow: hidden;
  position: relative;
}

.action_items {
  form, div {
    display: inline;
  }

  input[type="submit"] {
    @include light-button;
    padding: 12px 17px 10px;
    span.icon { vertical-align: bottom; margin-right: 4px;}
    margin: 0px;
  }
}

.blank_slate_container {
  margin: 10px 0;
}
