.has_css_animations section.active {
  &.delayed_text_fade_in_short {
    .page_header {
      opacity: 0;

      @include animation(fade_in ease forwards 2s 1s);
    }

    .shadow_wrapper {
      opacity: 0;

      @include animation(fade_in ease forwards 2s 0s);
    }

    .page_text {
      opacity: 0;
      @include animation(fade_in ease forwards 2s 2s);
    }
  }

  &.delayed_text_fade_in_medium {
    .page_header {
      opacity: 0;
      @include animation(fade_in ease forwards 2s 3s);
    }

    .shadow_wrapper {
      opacity: 0;
      @include animation(fade_in ease forwards 2s 2s);
    }

    .page_text {
      opacity: 0;
      @include animation(fade_in ease forwards 2s 4s);
    }
  }

  &.delayed_text_fade_in_long {
    .page_header {
      opacity: 0;
      @include animation(fade_in ease forwards 2s 5s);
    }

    .shadow_wrapper {
      opacity: 0;
      @include animation(fade_in ease forwards 2s 4s);
    }

    .page_text {
      opacity: 0;
      @include animation(fade_in ease forwards 2s 6s);
    }
  }
}
