.slideshow .content .content_wrapper {
  -webkit-transition: 0.8s ease !important;
  -moz-transition: 0.8s ease !important;
  -ms-transition: 0.8s ease !important;
  transition: 0.8s ease !important;
}

.js .text_hidden_only {
  visibility: hidden;
}

.hideText {
  .shadow {
    opacity: 0 !important;
    visibility: hidden;
  }

  .slideshow .content .content_wrapper {
    @include transform(translate3d(-200%,0,0));
  }

  .entry .scroll_indicator {
    opacity: 0;
    visibility: hidden;
    @include transition-delay(0s);
  }

  .hide_content_with_text .content {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .text_hidden_only {
    visibility: visible;
  }
}
