.page .scroller {
  /* IE 9 does not trigger mouse events on div without a background - duh */
  background-image: url('.');
}

.slideshow section.page {
  &.animate-out-forwards,
  &.animate-out-backwards {
    opacity: 0 !important;
  }
}

/* Make sure controls are centered, since translateX(-50%) does not work. */

.vjs-control-bar {
  margin-left: -217px !important;
}

.js .add_info_box {
  margin: 0 0 63px -214px;
  max-width: 434px;
}