.loading_spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;

  .loading_spinner_inner {
    @include animation-duration(0.5s);
    @include animation-name(fade_in);
    @include animation-iteration-count(1);
    @include animation-timing-function(linear);
  }

  &.fade {
    @include transition(opacity 0.5s linear);
    @include animation(fade_out 1.5s ease 1);
    opacity: 0;
  }
}
