@import "./page_transitions/scroll";
@import "./page_transitions/fade";

@import "./page_transitions/fade_to_black";
@import "./page_transitions/crossfade";

@import "./page_transitions/cut";

@import "./page_transitions/scroll_right";
@import "./page_transitions/scroll_left";