.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;


  .blackLayer,
  .backgroundArea {
    -webkit-backface-visibility: hidden;
    @include transition (opacity 1s linear);
    position: relative;
  }

  .content_and_background {
    -webkit-backface-visibility: hidden;
  }

  .page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;

    .background_image {
      background-attachment: scroll;
    }

  }

  section.active {
    display: block;
    -webkit-backface-visibility: hidden;
    .backgroundArea {
      opacity: 1;
    }
  }

  section .videoPage .video-js {
    background-color: black;
  }

  section.invert .videoPage .video-js {
    background-color: white;
  }

  section.scroll .content_and_background {
    z-index: 4; /* bring scrolling content always to front */
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;

    z-index: 1;
    overflow: hidden;
    @include transition(0.5s ease);
  }

  .page.hidden_by_overlay .content {
    opacity: 0;
    pointer-events: 0;
  }

  .scroller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > div {
      position: absolute;
      @include box-sizing(border-box);
      min-height: 100%;
      z-index: 1;

      @include transform(translateZ(0));
      @include user-select(none);
      @include text-size-adjust(none);

      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-touch-callout: none;
    }
  }

  @each $io in in, out {
    @each $direction in forwards backwards {
      .animate-#{$io}-#{$direction} {
        display: block;

        .content,
        .content_and_background {
          @include animation-duration(1s);
          @include animation-timing-function(ease);
          @include animation-iteration-count(1);
        }

        &.fade .content {
        /*  @include animation-name(scroll-#{$io}-#{$direction}); */
        }

        &.scroll .content_and_background {
          /* @include animation-name(scroll-#{$io}-#{$direction}); */
        }
      }
    }
  }

  /* scroll transition */

  section.scroll {
    .blackLayer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      display: none;
      background-color: black;
    }
    &.invert .blackLayer {
      background-color: white;
    }
    .content_and_background {
      @include transition(1s ease);
    /*  @include transform(translateY(-100%)); */
    }
    &.active div.content_and_background {
      @include transform(translate3d(0,0,0));
    }

    &.active .blackLayer {
      opacity: 1;
    }

    &.animate-in-forwards {
      .content_and_background {
        @include transform(translate3d(0,100%,0));
      }

      .blackLayer {
        opacity: 0;
      }
    }
    &.animate-out-forwards {
      .content_and_background {
        @include transform(translate3d(0,-100%,0));

        .backgroundArea {
          opacity: 1;
        }
      }
      .blackLayer {
        opacity: 1;
      }
    }
    &.animate-in-backwards {
      .content_and_background {
        @include transform(translate3d(0,-100%,0));
      }
      .blackLayer {
        opacity: 1;
      }
    }
    &.animate-out-backwards {
      .content_and_background {
        @include transform(translate3d(0,100%,0));
      }
      .blackLayer {
        opacity: 0;
      }
    }
  }

  section.fade {

    .blackLayer {
      display: none;
    }
    .backgroundArea {
      background-color: black;
      -webkit-backface-visibility: hidden;
    }

    &.invert .backgroundArea {
      background-color: white;
    }

    &.active.animate-in-forwards .backgroundArea {
      opacity: 1;
    }

    &.animate-in-forwards .backgroundArea {
      opacity: 0;
    }
    &.animate-out-forwards .backgroundArea{
      opacity: 1;
    }
    &.animate-in-backwards .backgroundArea{
      opacity: 1;
    }
    &.animate-out-backwards .backgroundArea{
      opacity: 0;
    }

    .content {
      @include transition(1s ease);
      -webkit-backface-visibility: hidden;
    }

    &.active div.content {
      @include transform(translate3d(0,0,0));
    }

    &.animate-in-forwards {
      .content {
        @include transform(translate3d(0,100%,0));
      }
    }
    &.animate-out-forwards {
      .content {
        @include transform(translate3d(0,-100%,0));
      }
    }
    &.animate-in-backwards {
      .content {
        @include transform(translate3d(0,-100%,0));
      }
    }
    &.animate-out-backwards {
      .content {
        @include transform(translate3d(0,100%,0));
      }
    }
  }
}