.color_input {
  .minicolors {
    box-sizing: border-box;
    width: 100%;
  }

  input {
    padding-left: 30px;
    width: 100%;
    height: auto;
  }

  .minicolors-input-swatch {
    top: 5px;
    left: 5px;

    .minicolors-swatch-color {
      background-color: var(--placeholder-color);
    }
  }

  &.is_default input {
    color: var(--ui-on-surface-color-light);
  }

  .minicolors-focus input {
    color: var(--ui-on-surface-color);
  }

  .minicolors-swatches .minicolors-swatch {
    margin: 2px;
  }
}
