.extended_select_input {
  .ui-selectmenu-button span.ui-selectmenu-text {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 13px;
  }
}

.extended_select_input_menu {
  border: solid 1px #aaa;

  ul {
    width: 600px;
    border: none;
    border-radius: 0;
  }

  .ui-state-default,
  .ui-widget-content
  .ui-state-default,
  .ui-widget-header
  .ui-state-default {
    background: white;
    border: 1px solid rgb(187, 187, 187);
  }

  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus {
    background: white;
    margin: 0;
    background: rgb(248, 248, 248);
  }

  .type_pictogram {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-repeat: no-repeat;
  }

  .text-container {
    position: absolute;
    top: 50%;
    @include transform(translate(0,-50%));
    width: 66%;
    margin-left: 20%;
    overflow: hidden;
  }

  p {
    margin: 0;
  }

  a {
    @include help-circled-icon;

    text-decoration: none;
    float: right;
    opacity: 0.2;
    position: absolute;
    bottom: 3px;
    right: 7px;

    &:hover {
      opacity: 1;
    }
  }

  .ui-menu-item {
    float: left;
    width: 33.33%;
    outline: 0;
    box-sizing: border-box;
    min-height: 90px;
    padding: 10px 2%;
    border: 1px solid rgb(242, 242, 242);
  }

  .ui-selectmenu-optgroup {
    float: left;
    width: 100%;
    margin: 0 !important;
    border: 0;
    background-color: rgb(211,211,211);
  }

  .ui-widget {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 13px;

    .item-description {
      font-size: 11px;
      color: gray;
    }
  }

  .ui-state-focus {
    background: #D2E5FA;
  }
}
