.radio_button_group_input {
  .radio_button {
    padding: 15px 0;
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid #808080;
    background: #E5E5E5;
    
    /*We need the effects on hovering on whole transition element. */
    &:hover {
      background-color: #dddddd;
      //For Fade
      &>div.fade_transition {
        &>.upper_section{
          visibility: hidden;
          opacity: 0.5;
        }
      }

      //For Fade Background
      &>div.fadeBg_transition {
        &>.upper_section{
          visibility: hidden;
          transform: translateY(-100%);
        }

        &>.lower_section{
          background: #f25f5c;             
          transform: translateY(-100%);
        }
      }

      //For scroll
      &>div.scroll_transition {
        &>.upper_section, .lower_section{
          animation: Scroll 2s ease infinite;
          -webkit-animation: Scroll 2s ease infinite;
          -moz-animation: Scroll 2s ease infinite;
        }
      }

      //For scroll-over
      &>div.scrollOver_transition {
        &>.lower_section{
          animation: Scroll 2s ease infinite;
          -webkit-animation: Scroll 2s ease infinite;
          -moz-animation: Scroll 2s ease infinite;
        }
      }

      //For Reveal
      &>div.reveal_transition {
        &>.upper_section{
          animation: Reveal 2s ease infinite;
          -webkit-animation: Reveal 2s ease infinite;
          -moz-animation: Reveal 2s ease infinite;
        }
      }
      
      //For BeforeAfter
      &>div.beforeAfter_transition {
        &>.upper_section{
          color: transparent;
          height: 0;
        }
      }
    }

    &>div {
      width: 30%;
      height: 100%;
      margin: 2%;
      border-radius: 5%;
      color: white;
      text-align: center;
      font-size: 26px;

      //Fade
      &.fade_transition {
        position: relative;
        overflow: hidden;

        &>.upper_section {
          background-color: #50514f;
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: 1;
          transition: all 2s ease-in-out;
          -webkit-transition: all 2s ease-in-out infinite;
          -moz-transition: all 2s ease-in-out infinite;
        }

        &>.lower_section {
          background-color: #f25f5c;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      }

      //Fade Background
      &.fadeBg_transition {
        overflow: hidden;

        &>.upper_section {
          background-color: #50514f;
          height: 100%;
          width: 100%;
          transition: all 2s ease-in-out;
          -webkit-transition: all 2s ease-in-out infinite;
          -moz-transition: all 2s ease-in-out infinite;
        }

        &>.lower_section {
          background-color: #50514f;
          height: 100%;
          width: 100%;
          transition: all 2s ease-in-out;
          -webkit-transition: all 2s ease-in-out infinite;
          -moz-transition: all 2s ease-in-out infinite;
        }
      }

      //Scroll
      &.scroll_transition {
        overflow: hidden;

        &>.upper_section {
          background-color: #50514f;
          height: 50%;
          width: 100%;
        }
        
        &>.lower_section {
          background-color: #f25f5c;
          height: 70%;
          width: 100%;
        }
      }

      //Scroll-Over
      &.scrollOver_transition {
        overflow: hidden;

        &>.upper_section {
          background-color: #50514f;
          height: 50%;
          width: 100%;
        }
        
        &>.lower_section {
          background-color: #f25f5c;
          height: 100%;
          width: 100%;
        }
      }

      //Reveal
      &.reveal_transition {
        position: relative;
        overflow: hidden;

        &>.upper_section {
          background-color: #50514f;
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: 1;
        }

        &>.lower_section {
          background-color: #f25f5c;
          height: 100%;
          position: absolute;
          width: 100%;
        }
      }

      //BeforeAfter
      &.beforeAfter_transition {
        position: relative;
        overflow: hidden;

        &>.upper_section {
          background-color: #50514f;
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: 1;
          transition: all 2s ease-in-out;
          -webkit-transition: all 2s ease-in-out infinite;
          -moz-transition: all 2s ease-in-out infinite;
        }

        &>.lower_section {
          background-color: #f25f5c;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      }
    }

    input {
      display: inline;
      margin: 0 5px 0 0;
      position: absolute;
      opacity: 0;
    }

    label {
      display: block;
      text-align: left;
      height: 100%;
      width: 70%;
    }
  }
}

//Keyframes
//Scroll
@-moz-keyframes Scroll {
  50% {
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes Scroll {
  50% {
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes Scroll {
  50% {
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

//Reveal
@-moz-keyframes Reveal {
  50% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes Reveal {
  50% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes Reveal {
  50% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}