<label>
  <span class="name"></span>
  <span class="inline_help"></span>
</label>
<div class="file_thumbnail"></div>
<div class="file_name"></div>

<a href="" class="unset" title="<%= I18n.t('pageflow.ui.templates.inputs.file_input.reset') %>"></a>
<a href="" class="choose" title="<%= I18n.t('pageflow.ui.templates.inputs.file_input.edit') %>"></a>
