<% if home_button.enabled? %>
  <li>
    <%= link_to(home_button.url, class: "navigation_bullet navigation_home", tabindex: "2", title: t('.show_home')) do %>
      <span class="hint"><%= t('.show_home') %></span>
      <span class="button"></span>
    <% end %>
  </li>
<% end %>
