<% if overview_button.enabled? %>
  <li>
    <a class="navigation_bullet navigation_index" tabindex="2" title="<%= t('pageflow.public.open_overview') %>" data-active-title="<%= t('pageflow.public.close_overview') %>">
      <span class="hint"><%= t('pageflow.public.open_overview') %></span>
      <span class="button"></span>
    </a>
  </li>
<% end %>
