<%= cache page do %>
  <%= content_tag :section, :id => page.perma_id, :class => page_css_class(page), :data => {:template => page.template, :id => page.id} do %>
    <%= render :template => Pageflow.config.lookup_page_type(page.template).template_path, :locals => {:page => page, :configuration => page.configuration} %>
    <a class="to_top" href="#content"><%= t('.goto_top') %></a>
  <% end %>
<% end %>
