.cardBg {
  padding: 4%;
  margin: 0 -4% 0 0;
  border-radius: 15px;
  opacity: 1;
}

.cardBgWhite {
  composes: cardBg;
  background: white;
  color: black;
}

.cardBgBlack {
  composes: cardBg;
  background: black;
  color: white;
}