.root {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.audio_player {
  width: 100%;
  height: 100%;
  transition: transform ease 0.2s;
}

.audio_player > div {
  width: 100%;
  height: 100%;
}

.audio_player audio {
  width: 100%;
  height: auto;
  outline: none;
}

.audio_player audio:focus {
  outline: none;
}
