.root {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.audio {
  width: 100%;
  height: auto;
  transition: transform ease 0.2s;
  outline: none;
}

.audio:focus {
  outline: none;
}
