.Backdrop {
  width: 100%;
  z-index: 2;
}

.noCompositionLayer {
  visibility: hidden;
}

.coverSection {
  container-type: size;
  --vh: 1cqh;
}

.defaultBackground {
  background-color: #333;
}

@media print {
  .Backdrop {
    page-break-inside: avoid;
  }

  /* Reset section transition styles. */
  .Backdrop,
  .Backdrop > div,
  .Backdrop > div > div {
    position: static !important;
    height: auto !important;
  }
}
