.wrapper {
  --collapsed-margin-top: max(var(--margin-top, 1em), var(--prev-margin-bottom, 1em));
  margin: var(--collapsed-margin-top) 0 var(--margin-bottom, 0px) 0;
}

.noTopMargin {
  margin-top: 0 !important;
}
