.wrapper {
  height: 130vh;
}

.inner {
  position: sticky;
  top: calc(50% - var(--height) * 1px);
}

@supports (height: 100lvh) {
  .wrapper {
    height: 130lvh;
  }

  .inner {
    top: calc(50lvh - var(--height) * 1px);
  }
}
