@value selectionWidth: 1px;
@value selectionPadding: -6px;
@value selectionPadding2: -5px;

.outer {
  position: relative;
}

.selectable {
  position: relative;
}

.selectable:after {
  content: '';
  position: absolute;
  top: selectionPadding2;
  left: selectionPadding2;
  right: selectionPadding2;
  bottom: selectionPadding2;
}

.bl,
.br,
.tr,
.tl {
  width: 10px;
  height: 10px;
  position: absolute;
  opacity: 0;
}

.selected .bl,
.selected .br,
.selected .tr,
.selected .tl {
  border-width: 3px
}

.selected .bl,
.selected .br,
.selected .tr,
.selected .tl,
.selectable:hover .bl,
.selectable:hover .br,
.selectable:hover .tr,
.selectable:hover .tl {
  opacity: 0.8;
}

.bl {
  bottom: selectionPadding;
  left: selectionPadding;
  border-bottom: solid selectionWidth currentColor;
  border-left: solid selectionWidth currentColor;
}

.br {
  bottom: selectionPadding;
  right: selectionPadding;
  border-bottom: solid selectionWidth currentColor;
  border-right: solid selectionWidth currentColor;
}

.tr {
  top: selectionPadding;
  right: selectionPadding;
  border-top: solid selectionWidth currentColor;
  border-right: solid selectionWidth currentColor;
}

.tl {
  top: selectionPadding;
  left: selectionPadding;
  border-top: solid selectionWidth currentColor;
  border-left: solid selectionWidth currentColor;
}

.selected:hover:after,
.selected:after {
  border: solid 1px currentColor;
  opacity: 0.8;
  pointer-events: none;
}
