@value (
  darkContentTextColor,
  lightContentTextColor,
  contentLinkColor
) from "pageflow-scrolled/values/colors.module.css";

.root {
  white-space: pre-line;
}

.root ul,
.root ol {
  list-style-position: var(--editable-text-list-style-position);
}

.justify {
  text-align: justify;
}

ul.justify,
ol.justify {
  list-style-position: outside;
}

.light {
  color: lightContentTextColor;
}

.dark {
  color: darkContentTextColor;
}

.link {
  composes: typography-contentLink from global;
  color: contentLinkColor;
}

.bold {
  font-weight: var(--theme-editable-text-bold-font-weight, bold);
}
