@value (
  darkContentTextColor,
  lightContentTextColor,
  contentLinkColor
) from "pageflow-scrolled/values/colors.module.css";

.root {
  white-space: pre-line;
}

.light {
  color: lightContentTextColor;
}

.dark {
  color: darkContentTextColor;
}

.link {
  composes: typography-contentLink from global;
  color: contentLinkColor;
}
