.root {
  position: relative;
}

.showBorder::before {
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  border-top: dashed 1px #fff;
}

.heightSelect {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
}

.transitionSelect {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.hideControls select,
.hideControls button {
  display: none;
}
