@value (
  darkContentTextColor,
  lightContentTextColor,
  contentLinkColor
) from "pageflow-scrolled/values/colors.module.css";

.root {
  white-space: pre-line;
}

.justify {
  text-align: justify;
}

ul.justify,
ol.justify {
  /* Override style set by center-ragged text block */
  list-style-position: outside !important;
}

.light {
  color: lightContentTextColor;
}

.dark {
  color: darkContentTextColor;
}

.link {
  composes: typography-contentLink from global;
  color: contentLinkColor;
}

.bold {
  font-weight: var(--theme-editable-text-bold-font-weight, bold);
}
