@value font-sans: 'Source Sans Pro', sans-serif;

.Entry {
  font-family: font-sans;
  background-color: #000;
  color: #fff;
}

.Entry > div:first-child {
  /* Let content begin below navigation bar. Navigation bar has zero
     height to let first chapter start at the very top. */
  padding-top: 58px;
}
