@value (
  darkContentSurfaceColor, lightContentSurfaceColor,
  darkContentTextColor, lightContentTextColor,
  contentColorScope,
  contentLinkColor
) from "pageflow-scrolled/values/colors.module.css";

.root {
  composes: contentColorScope;
  margin: 0;
}

.root > figcaption {
  padding: 3px 10px 5px;
  background-color: lightContentSurfaceColor;
  color: darkContentTextColor;
}

.root > figcaption p {
  margin: 0;
}

.root > figcaption a {
  color: contentLinkColor;
}

.invert > figcaption {
  background-color: darkContentSurfaceColor;
  color: lightContentTextColor;
}
