@value (
  darkContentSurfaceColor, lightContentSurfaceColor,
  darkContentTextColor, lightContentTextColor
) from "pageflow-scrolled/values/colors.module.css";

.root {
  margin: 0;
}

.root > figcaption {
  padding: 3px 10px 5px;
  background-color: lightContentSurfaceColor;
  color: darkContentTextColor;
}

.invert > figcaption {
  background-color: darkContentSurfaceColor;
  color: lightContentTextColor;
}
