@value (
  darkContentSurfaceColor, lightContentSurfaceColor,
  darkContentTextColor, lightContentTextColor,
  contentColorScope
) from "pageflow-scrolled/values/colors.module.css";

.root {
  composes: contentColorScope;
  margin: 0;
}

.root > figcaption {
  padding:
    var(--theme-figure-caption-padding-top, 3px)
    var(--theme-figure-caption-padding-inline, 10px)
    var(--theme-figure-caption-padding-bottom, 5px);
  background-color: var(--theme-figure-caption-surface-color, lightContentSurfaceColor);
  color: var(--theme-figure-caption-text-color, darkContentTextColor);
  border-bottom: var(--theme-figure-caption-border-bottom, none);
  border-bottom-left-radius: var(--theme-figure-caption-border-bottom-radius, 0);
  border-bottom-right-radius: var(--theme-figure-caption-border-bottom-radius, 0);
}

.root > figcaption p {
  margin: 0;
}

.invert > figcaption {
  background-color: var(--theme-figure-caption-surface-color, darkContentSurfaceColor);
  color: var(--theme-figure-caption-text-color, lightContentTextColor);
}
