.container {
  width: 100%;
  margin: 0 auto;
}

.content {
  position: relative;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.opaque .inner {
  background-color: #000;
  color: #fff;
}

@media print {
  .container {
    page-break-inside: avoid;
  }
}
