.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(
    --theme-fit-viewport,
    calc(100 * var(--vh) / var(--fit-viewport-aspect-ratio) * var(--fit-viewport-scale, 1))
  );
}

.content {
  position: relative;
}

.content > div:first-child {
  padding-top: calc(100% * var(--fit-viewport-aspect-ratio));
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.opaque .inner {
  background-color: #000;
  color: #fff;
}

@media print {
  .container {
    page-break-inside: avoid;
  }
}
