body > :global(#root) {
  --focus-outline: 3px solid #518ad2;
}

.focusOutlineDisabled > :global(#root) {
  --focus-outline: none;
}

body > :global(#root) a:focus,
body > :global(#root) button:focus,
body > :global(#root) [tabindex]:focus {
  outline: var(--focus-outline);
}
