.Foreground {
  position: relative;
  z-index: 3;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullFadeHeight {
  min-height: 51vh;
}

.fullHeight {
  min-height: 100vh;
}

.inFirstSection {
  /* Let content begin below navigation bar. Navigation bar has zero
     height to let first chapter start at the very top. */
  padding-top: var(--theme-widget-margin-top, 58px);
}

.paddingBottom {
  padding-bottom: 3em;
}

@media print {
  .Foreground {
    min-height: auto;
    /* Set by some section transitions. */
    margin-top: 0 !important;
  }
}
