.Foreground {
  pointer-events: none;

  position: relative;
  z-index: 3;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: var(--foreground-padding-top);
}

.fullFadeHeight {
  min-height: 51vh;
}

.fullHeight {
  min-height: 100vh;
}

.spaceAbove {
  justify-content: flex-end;
}

.spaceBelow {
  justify-content: flex-start;
}

.paddingBottom {
  padding-bottom: var(--foreground-padding-bottom, 3em);
}

@media print {
  .Foreground {
    min-height: auto;
    /* Set by some section transitions. */
    margin-top: 0 !important;
  }
}
