@value (
  darkContentSurfaceColor, lightContentSurfaceColor,
  darkContentTextColor, lightContentTextColor
) from "pageflow-scrolled/values/colors.module.css";

:root {
  --vw: 1vw;
  --vh: 1vh;

  --root-light-content-surface-color: lightContentSurfaceColor;
  --root-dark-content-surface-color: darkContentSurfaceColor;
  --root-light-content-text-color: lightContentTextColor;
  --root-dark-content-text-color: darkContentTextColor;

  --theme-aspect-ratio-wide: 0.5625;
  --theme-aspect-ratio-narrow: 0.75;
  --theme-aspect-ratio-square: 1;
  --theme-aspect-ratio-portrait: 1.33;
}

:global body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

:global [data-floating-ui-portal] {
  position: relative;
  z-index: 1000;
}

:global #floating-ui-above-navigation-widgets {
  position: relative;
  z-index: 20000;
}
