@value text-l, text-xl, text-2xl from './typography.module.css';

.Heading {
  font-size: text-xl;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
}

.first {
  font-size: text-2xl;
  line-height: 1;
}

@media (orientation: landscape) {
  .first {
    padding-top: 25%;
  }
}

@media (max-width: 600px) {
  .Heading {
    font-size: text-l;
  }

  .first {
    font-size: text-xl;
  }
}
