:global .scope-lightContent {
  --link-button-on-surface-color: var(--theme-light-content-link-button-on-surface-color,
                                      currentColor);
  --link-button-surface-color: var(--theme-light-content-link-button-surface-color);

  --link-button-hover-on-surface-color: var(--theme-light-content-link-button-hover-on-surface-color);
  --link-button-hover-surface-color: var(--theme-light-content-link-button-hover-surface-color);

  --link-button-active-on-surface-color: var(--theme-light-content-link-button-active-on-surface-color);
  --link-button-active-surface-color: var(--theme-light-content-link-button-active-surface-color);
}

:global .scope-darkContent {
  --link-button-on-surface-color: var(--theme-dark-content-link-button-on-surface-color,
                                      var(--theme-widget-primary-color));
  --link-button-surface-color: var(--theme-dark-content-link-button-surface-color);

  --link-button-hover-on-surface-color: var(--theme-dark-content-link-button-hover-on-surface-color);
  --link-button-hover-surface-color: var(--theme-dark-content-link-button-hover-surface-color);

  --link-button-active-on-surface-color: var(--theme-dark-content-link-button-active-on-surface-color);
  --link-button-active-surface-color: var(--theme-dark-content-link-button-active-surface-color);
}

.button {
  composes: scope-linkButton from global;
  display: inline-flex;
  min-width: var(--theme-link-button-width, 100%);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: var(--theme-link-button-border-radius, 5px);
  text-decoration: none;
  padding: var(--theme-link-button-padding, 0.5rem);
  background-color: var(--link-button-surface-color, transparent);
  color: var(--link-button-on-surface-color);
  border: solid 1px var(--link-button-surface-color,
                        color-mix(in srgb, currentColor, transparent));
  cursor: pointer;
}

.button::after {
  content: var(--theme-link-button-symbol, "›");
}

.button:hover {
  background-color: var(--link-button-hover-surface-color, var(--link-button-surface-color));
  color: var(--link-button-hover-on-surface-color, var(--link-button-on-surface-color));
  border: solid 1px var(--link-button-hover-surface-color, var(--link-button-surface-color, currentColor));
}

.button:active {
  background-color: var(--link-button-active-surface-color, var(--link-button-surface-color));
  color: var(--link-button-active-on-surface-color, var(--link-button-on-surface-color));
  border: solid 1px var(--link-button-active-surface-color, var(--link-button-surface-color, currentColor));
}

.editable {
  opacity: 0.5;
}

.editable:has([data-slate-string]),
.editable:focus-within {
  opacity: 1;
}
