.wrapper {
  pointer-events: none;
}

.wrapper,
.wrapper > div,
.wrapper > div > div,
.wrapper img {
  width: 100%;
  height: 100%;
}

.wrapper audio,
.wrapper audio:focus,
.wrapper video,
.wrapper video:focus {
  outline: none;
}

.wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  display: none;
}

.cover img,
.cover video {
  object-fit: cover;
}

.contentElementBox video,
.contentElementBox img {
  border-radius: var(--content-element-box-border-radius);
  box-shadow: var(--content-element-box-box-shadow);
}

.posterVisible video {
  visibility: hidden;
}

.posterVisible img {
  display: block;
}
