.optOut:hover .tooltip,
.optOut:focus-within .tooltip {
  display: flex;
  align-items: center;
}

.optOut {
  display: flex;
}

.tooltip {
  position: relative;
  display: none;
  color: black;
  background: white;
  padding: 2px 4px;
}

.tooltip a {
  color: black;
  padding: 3px;
}

.icon {
  composes: unstyledButton from './utils.module.css';
  position: relative;
  background-color: rgb(0, 55, 90);
}
.icon svg {
  fill: white;
  width: 26px;
  height: 26px;
  margin: 7px 7px 3px;
}

.optOut {
  position: absolute;
  right: -5px;
}

.optOut.bottom-25 {
  bottom: 25%;
}

.optOut.bottom {
  bottom: calc(0% + 5px);
}
