@value (
  darkContentTextColor,
  lightContentTextColor,
  darkContentLinkColor,
  lightContentLinkColor
) from "pageflow-scrolled/values/colors.module.css";

.Section {
  position: relative;

  --section-max-width:
    var(--theme-section-max-width);

  --two-column-inline-content-max-width:
    var(--theme-two-column-inline-content-max-width);
  --two-column-wide-content-max-width:
    var(--theme-two-column-wide-content-max-width);
  --two-column-sticky-content-max-width:
    var(--theme-two-column-sticky-content-max-width);

  --centered-inline-content-max-width:
    var(--theme-centered-inline-content-max-width);
  --centered-wide-content-max-width:
    var(--theme-centered-wide-content-max-width);

  --foreground-padding-top: 0px;
}

.first {
  /* Let content begin below navigation bar. Navigation bar has zero
     height to let first chapter start at the very top. */
  --foreground-padding-top: var(--theme-widget-margin-top, 58px);
}

.narrow {
  --section-max-width:
    var(--theme-narrow-section-max-width);

  --two-column-inline-content-max-width:
    var(--theme-narrow-section-two-column-inline-content-max-width);
  --two-column-wide-content-max-width:
    var(--theme-narrow-section-two-column-wide-content-max-width);
  --two-column-sticky-content-max-width:
    var(--theme-narrow-section-two-column-sticky-content-max-width);

  --centered-inline-content-max-width:
    var(--theme-narrow-section-centered-inline-content-max-width);
  --centered-wide-content-max-width:
    var(--theme-narrow-section-centered-wide-content-max-width);
}

@media screen {
  .Section {
    color: lightContentTextColor;
    --content-link-color: lightContentLinkColor;
    background-color: #000;
  }

  .invert {
    background-color: #fff;
    color: darkContentTextColor;
    --content-link-color: darkContentLinkColor;
  }
}
