@value text-base from './typography.module.css';

.TextBlock {
  font-size: text-base;
  line-height: 1.4;

  padding: 1em 0;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: none;
}

.dummy {
  opacity: 0.7;
}

.TextBlock a {
  color: #fff;
  word-wrap: break-word;
}

.TextBlock ol,
.TextBlock ul {
  padding-left: 20px;
}
