@value text-s: 20px;
@value text-base: 22px;
@value text-md: 33px;
@value text-l: 40px;
@value text-2l: 50px;
@value text-xl: 66px;
@value text-2xl: 88px;
@value text-3xl: 110px;

.heading-lg {
  composes: typography-headingLg from global;
  composes: typography-heading from global;
  font-size: text-3xl;
  line-height: 1;
}

.heading-md {
  composes: typography-headingMd from global;
  composes: typography-heading from global;
  font-size: text-2xl;
  line-height: 1;
}

.heading-sm {
  composes: typography-headingSm from global;
  composes: typography-heading from global;
  font-size: text-xl;
  font-weight: 700;
  line-height: 1;
}

.heading-xs {
  composes: typography-headingXs from global;
  composes: typography-heading from global;
  font-size: text-md;
  margin-top: 1em;
  margin-bottom: 0;
}

.body {
  composes: typography-body from global;
  font-size: text-base;
  line-height: 1.4;
}

.caption {
  composes: typography-caption from global;
  font-size: text-s;
  line-height: 1.4;
}

@media (max-width: 600px) {
  .heading-lg {
    font-size: text-xl;
    line-height: 1.1;
  }

  .heading-md {
    font-size: text-2l;
    line-height: 1.1;
  }

  .heading-sm {
    font-size: text-l;
  }
}
