.clip {
  /* When section height is a fractional value (e.g. 440.58px) Chrome
     109 cuts off a pixel at the bottom of the element. This sometimes
     leads to a visible line between sections.

     This helper is used by reveal transitions to prevent the fixed
     backdrop from hiding the backdrop of the previous section. Since
     the backdrop of the following section comes later in DOM order it
     is already placed on top. We, thus, do not depend on clip-path to
     make exit transitions work.

     We can, thus, increase the height of the clip-path polygon
     generously to prevent those rounding errors.
  */
  clip-path: inset(0% 0% -10% 0%);
}

.unstyledButton {
  border: 0;
  padding: 0;
  background-color: transparent;
  text-align: initial;
}
