.videoPlayer {
  width: 100%;
  height: 100%;
  transition: transform ease 0.2s;
}

.videoPlayer > div {
  width: 100%;
  height: 100%;
}

.videoPlayer video {
  outline: none;
}

.videoPlayer video:focus {
  outline: none;
}

.cover video {
  object-fit: cover;
}
