.video_player {
  width: 100%;
  height: 100%;
  transition: transform ease 0.2s;
}

.video_player > div {
  width: 100%;
  height: 100%;
}

.video_player video {
  outline: none;
}

.video_player video:focus {
  outline: none;
}

.backdrop {
  object-fit: cover;
}
