/// Background color of info box.
$slim-player-controls-info-box-background-color: rgba(17, 17, 17, 0.9) !default;

/// Color of text in info box.
$slim-player-controls-info-box-text-color: #fff !default;

/// Color of separator line between info box header and info box text.
$slim-player-controls-info-box-separator-line-color: #888 !default;

%player_controls {
  &-info_box {
    width: 87%;
    box-sizing: border-box;
    padding: 0 1%;
    position: relative;
    z-index: 2;
    font-size: 0.8em;
    border-radius: 3px;
    color: $slim-player-controls-info-box-text-color;
    background-color: $slim-player-controls-info-box-background-color;

    @include phone {
      font-size: 0.84em;
      padding: 0 3%;
    }

    h3,
    p {
      margin: 15px 0;
      width: 100%;
    }

    h3 {
      border-bottom: solid 1px $slim-player-controls-info-box-separator-line-color;
      padding-bottom: 5px;
    }

    &.title_empty h3,
    &.description_empty h3 {
      padding-bottom: 0;
      border-bottom: none;
    }

    a {
      color: $slim-player-controls-info-box-text-color;
    }

    &.empty {
      display: none;
    }
  }

  .js &-info_box {
    @include transition(opacity 0.2s linear, visibility 0.2s linear, transform 0.2s ease);
    @include transition-delay(0.2s);
    pointer-events: none;

    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
    z-index: 2;

    @include desktop {
      width: 434px;
      bottom: 80px;
    }

    @include phone {
      width: 100%;
      bottom: 50px;
      border-radius: 0;

      p {
        margin-bottom: 0;
      }
    }
  }

  .js &-container-has_been_faded %player_controls-info_box {
    opacity: 0;
    visibility: hidden;
    @include transform(translate3d(-50%, 10px, 0));
  }

  .js &-container:hover %player_controls-info_box,
  .js &-container-paused %player_controls-info_box {
    @include transition-delay(0);
    opacity: 1;
    visibility: visible;
    @include transform(translate3d(-50%, 0, 0));
  }
}
