// scss-lint:disable VendorPrefix

%player_controls {
  &-scroller-playing {
    @include desktop {
      bottom: 80px;
      overflow: hidden;
      -webkit-mask-image: image-url("pageflow/themes/default/player_controls/slim/scroller_mask.png");
      -webkit-mask-position: bottom left;
      -webkit-mask-repeat: repeat-x;
    }
  }

  // Do not display mask if content fades anyway.
  &-scroller-fading {
    @include desktop {
      bottom: 0;
      -webkit-mask-image: none;
    }
  }
}
