%player_controls {
  &-scroller-playing {
    @include desktop {
      bottom: 80px;
      overflow: hidden;
      @include mask-bottom;
    }
  }

  // Do not display mask if content fades anyway.
  &-scroller-fading {
    @include desktop {
      bottom: 0;
      @include mask-none;
    }
  }
}
