.tooltipsWrapper {
  position: relative;
}

.clip {
  overflow: hidden;
}

.stack {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-rows: 100%;
  height: 100%;
}

.stack > div {
  grid-row: 1;
  grid-column: 1;
}

.wrapper {
  transform-origin: 0 0;
  position: relative;
  height: 100%;
  aspect-ratio: var(--hotspots-image-aspect-ratio);
}

.wrapper > img {
  height: 100%;
}

.compositeItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
