.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.outer {
  position: relative;
}

.clip {
  overflow: hidden;
}

.stack {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-rows: 100%;
  height: 100%;
  isolation: isolate;
}

.stack > div {
  grid-row: 1;
  grid-column: 1;
}

.wrapper {
  transform-origin: 0 0;
  width: min-content;
  height: 100%;
}

.wrapper > img {
  height: 100%;
}
