.indicator {
  --size: 15px;
  margin: calc(var(--size) / -2) 0 0 calc(var(--size) / -2);
  animation: inner 2s infinite;
  pointer-events: none;
  z-index: 1;
}

.indicator,
.indicator::before {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: var(--color, #fff);
}

.indicator::before {
  content: "";
  animation: outer 2s infinite;
}

@keyframes inner {
  0% {
    transform: scale(1.3);
  }

  20% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1.3);
  }
}

@keyframes outer {
  20% {
    transform: scale(1);
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}
