.scroller {
  overflow: hidden;
  overflow-x: auto;
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  grid-template-rows: 0px 100%;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.inner {
  height: var(--hotspots-container-height);
  position: relative;
}

.step {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  grid-row: 2;
}
