@value (
  darkContentSurfaceColor, lightContentSurfaceColor,
  darkContentTextColor, lightContentTextColor,
  darkContentLinkColor, lightContentLinkColor
) from "pageflow-scrolled/values/colors.module.css";

.compositeItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.reference {
  position: absolute;
  border: 0;
  width: 0;
  height: 0;
  background: transparent;
}

.reference {
  outline: none !important;
}

.box {
  font-family: var(--theme-entry-font-family);
  box-sizing: border-box;
  padding: 0.75rem;
  border-radius: 5px;
  --max-width: 400px;
  max-width: min(100% - 2rem, var(--max-width));
}

.light {
  background-color: lightContentSurfaceColor;
  color: darkContentTextColor;
  --content-text-color: darkContentTextColor;
  --content-link-color: darkContentLinkColor;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.dark {
  background-color: darkContentSurfaceColor;
  color: lightContentTextColor;
  --content-text-color: lightContentTextColor;
  --content-link-color: lightContentLinkColor;
  border: solid 1px rgba(255 255 255 / 5%);
}

.light > svg {
  fill: lightContentSurfaceColor;
}

.dark > svg {
  fill: darkContentSurfaceColor;
}

.dark > svg path:first-of-type {
  stroke: rgba(255 255 255 / 5%);
}

.maxWidth-wide {
  --max-width: 600px;
}

.maxWidth-narrow {
  --max-width: 300px;
}

.maxWidth-veryNarrow {
  --max-width: 200px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.minWidth {
  min-width: 200px;
}

.box .imageWrapper {
  position: relative;
  margin-bottom: 1rem;
}

.imageWrapper img {
  display: block;
  max-width: 100%;
  height: auto;
}

.box h3,
.box p {
  margin: 0;
}

.box > h3,
.box > div {
  margin-bottom: 0.5rem;
}

.box > :last-child {
  margin-bottom: 0;
}

.link {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem;
  background-color: var(--theme-widget-primary-color);
  color: var(--theme-widget-on-primary-color);
  margin-top: 1rem;
  font-weight: bold;
}

.dark .link {
  border: solid 1px rgb(255 255 255 / 5%);
}

.box > :first-child .link {
  margin-top: 0;
}

.editable .link {
  opacity: 0.5;
}

.editable .link:has([data-slate-string]),
.editable .link:focus-within {
  opacity: 1;
}
