@import "./waveform/info_box";
@import "./waveform/play_button";
@import "./waveform/times_display";
@import "./waveform/wave";

.waveform_player_controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;

  @include shadow-bottom;

  &-inverted {
    @include shadow-bottom-inverted;
  }

  &-container {
    padding-top: 10px;
    margin-bottom: 55px;
    width: 100%;
  }
}
