.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  --table-border-color: transparent;
}

.table td {
  min-width: 50px;
  vertical-align: top;
}

.table td:first-child {
  border-right: solid 1px var(--table-border-color);
  padding: 0.5rem 0.5rem 0.5rem 0;
  white-space: pre;
}

.table td:last-child {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.center td {
  width: 50%;
}

.center td:first-child {
  text-align: right;
}

.labelColumnAlign-left td:first-child,
.valueColumnAlign-left td:last-child {
  text-align: left;
}

.labelColumnAlign-center td:first-child,
.valueColumnAlign-center td:last-child {
  text-align: center;
}

.labelColumnAlign-right td:first-child,
.valueColumnAlign-right td:last-child {
  text-align: right;
}

.table tr:nth-child(n + 2) td {
  border-top: solid 1px var(--table-border-color);
}

.selected {
  --table-border-color: color-mix(in srgb, transparent, currentColor);
}

/*
  Hide first column if:
  - the table is not selected and
  - the first column is blank (= the table does not have a first
    column cell that is not blank) and
  - the table is not completely blank (= has a non blank cell)
*/
.table:not(.selected):not(:has(td:not([data-blank]):first-child)):has(td:not([data-blank])) td:first-child {
  display: none;
}

.table:not(.selected):not(:has(td:not([data-blank]):first-child)):has(td:not([data-blank])) td:last-child {
  padding-left: 0;
}
