.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: var(--ui-backdrop-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  padding: 20px;
  margin: 20px 0;
  background-color: var(--ui-surface-color);
  border-radius: rounded();
  box-shadow: var(--ui-box-shadow-md);
}

.header {
  font-size: 17px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.hint {
  margin-bottom: 10px;
}

.footer {
  margin-top: 10px;
  clear: left;
  text-align: right;
}

.close {
  composes: cancelButton from '../buttons.module.css';
}
