<% chapter.pages.in_groups_of(4, false).each_with_index do |page_group, index| %>

    <div class="ov_chapter">
      <% if chapters_count > 1 %>
        <span class="heading-5"><%= "#{t('pageflow.public.chapter')} #{chapter.position + 1}" if index == 0 %></span>
      <% end %>
      <span class="heading-4"><%= chapter.title if index == 0 %></span>
      <%= render(partial: 'pageflow_paged/entries/overview/page',
                 collection: page_group,
                 locals: {chapter: chapter}) %>
    </div>

<% end %>
