<%= link_to "##{page.perma_id}", :class => "ov_page #{page.template}", :data => {:link => page.id} do %>
    <div class="ov_page_description">
      <p>
        <%= overview_page_description(page) %>
      </p>
    </div>
    <%= image_tag('', data: {src: asset_path(page_thumbnail_url(page, :thumbnail_overview_desktop))}) %>
    <div class="pictogram"></div>
<% end %>
