.container {
  position: relative;
  height: 100%;
}

.sticky {
  overflow: clip;
}

.lightBackground {
  background: rgba(255, 255, 255, 0.2);
}

.darkBackground {
  background: rgba(0, 0, 0, 0.2);
}

.controlBarContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.inset {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: transparent;
  z-index: 3;
}

.sticky .inset {
  position: sticky;
  margin-top: -40px;
}

.inset::before,
.controlBarInner {
  transition: opacity 0.2s ease;
}

.inset::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
  z-index: -1;
}

.controlBarInner {
  display: flex;
  align-items: center;
  flex: 1;
}

.fadedOut .controlBarInner,
.fadedOut.inset::before {
  opacity: 0;
  pointer-events: none;
}

.button {
  composes: unstyledButton from '../utils.module.css';
  width: 40px;
  height: 40px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  cursor: pointer;
}

.button svg {
  fill: currentColor;
  width: 30px;
  height: 30px;
}

.playControl {
  composes: button;
}
