.hidden {
  display: none;
}

.controlBarContainer {
  width: 50%;
  display: table;
  position: relative;
}

.controlBarContainer.inset {
  margin-top: -24px;
}

.controlBar {
  display: table-row;
}

.controlsContainer {
  display: table-cell;
  vertical-align: middle;
}

.controls {
  height: 24px;
  max-height: 24px;
  overflow: hidden;
  white-space: nowrap;
}

.progressDisplayContainer {
  width: 100%;
}

.controlsIcon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  cursor: pointer;
}

.playControl {
  text-decoration: none;
  color: currentColor;
}

.playPauseButton {
  composes: controlsIcon;
  margin: 0 5px 0 0;
}

.settingsButton {
  composes: controlsIcon;
  width: 20px;
}

.subtitlesButton {
  composes: controlsIcon;
  margin: 0 3px 0 2px;
}

.timeDisplayContainer {
  padding: 0 5px;
}

.settingsMenu {
  right: 25px;
}

.subtitlesMenu {
  right: 1px;
}