.transparent {
  opacity: 0;
}

.backgroundColor {
  background: rgba(0, 0, 0, 0.2);
}

.foregroundLight {
  color: white;
}

.foregroundDark {
  color: black;
}

.contextMenues {
  visibility: hidden;
  max-width: 5px;
}

.controlBarContainer {
  width: 100%;
  display: table;
  position: relative;
  overflow: hidden;
  transition: opacity 0.2s ease;
}

.controlBarContainer.inset {
  margin-top: -32px;
}

.controlBar {
  display: table-row;
}

.controlsContainer {
  display: table-cell;
  vertical-align: middle;
}

.controls {
  height: 24px;
  max-height: 24px;
  padding: 4px;
  overflow: hidden;
  white-space: nowrap;
}

.progressDisplayContainer {
  width: 100%;
}

.controlsIcon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  cursor: pointer;
}

.playControl {
  text-decoration: none;
  color: currentColor;
}

.settingsIcon {
  composes: controlsIcon;
  margin: 0 2px;
}

.subtitlesIcon {
  composes: controlsIcon;
  margin: 0 3px 0 2px;
}

.settingsMenu {
  right: 34px;
}

.subtitlesMenu {
  right: 9px;
}
