.container {
  position: relative;
  height: 100%;
}

.transparent {
  opacity: 0;
}

.lightBackground {
  background: rgba(255, 255, 255, 0.2);
}

.darkBackground {
  background: rgba(0, 0, 0, 0.2);
}

.controlBarContainer {
  width: 100%;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
}

.inset {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
}

.button {
  composes: unstyledButton from '../utils.module.css';
  width: 40px;
  height: 40px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  cursor: pointer;
}

.button svg {
  fill: currentColor;
  width: 30px;
  height: 30px;
}

.playControl {
  composes: button;
}
