.progressIndicatorsContainer {
  position: relative;
  width: 100%;
}

.progressBarsContainer {
  cursor: pointer;
  position: relative;
  margin: 9px 5px;
  height: 6px;
  border-radius: 3.5px;
  background: #808080;
}

.progressBar {
  position: absolute;
  left: 0;
  height: 6px;
  border-radius: 2.5px;
}

.loadingProgressBar {
  background: currentColor;
  opacity: 0.5;
}

.playProgressBar {
  background: currentColor;
}

.sliderHandle {
  width: 14px;
  height: 14px;
  margin-left: -6.5px;
  border-radius: 6.5px;
  position: absolute;
  top: -4px;
  background: currentColor;
}