/// Vertical position of upper buttons.
$navigation-bar-padding-top: null !default;

$top-height: 44px;
$item-height: 44px;
$bottom-height: 268px;

$scroll-indicator-height: 30px;
$scroll-indicator-offset: 35px;

@if $navigation-display-header-button {
  $top-height: $top-height + $item-height;
} @else {
  .menu_li {
    display: none;
  }
}

@if not $navigation-display-share-button and
    not $navigation-display-hide-text-button {
  $bottom-height: 196px;
} @elseif not $navigation-display-share-button or
    not $navigation-display-hide-text-button{
  $bottom-height: 232px;
}

@if not $navigation-display-share-button {
  .navigation_menu.share {
    display: none;
  }
}

@if not $navigation-display-hide-text-button {
  .hide_text {
    display: none;
  }
}

&.js {
  .navigation_bar_top {
    top: 0;
    box-sizing: border-box;
    padding-top: $navigation-bar-padding-top;
  }

  .navigation_bar_bottom {
    bottom: 0;
    height: $bottom-height;
  }

  .scroller {
    bottom: $bottom-height;
  }

  .navigation_scroll_indicator {
    height: $scroll-indicator-height;

    &.bottom {
      bottom: $bottom-height - $scroll-indicator-offset;
    }
  }

  @mixin top_positions($top-height) {
    .navigation_bar_top {
      height: $top-height + $item-height;
    }

    .scroller {
      top: $top-height + $item-height;
    }

    .navigation_scroll_indicator.top {
      top: $top-height + $item-height - $scroll-indicator-offset;
    }
  }

  @include top_positions($top-height);

  &.with_home_button,
  &.with_overview_button {
    @include top_positions($top-height + $item-height);
  }

  &.with_home_button.with_overview_button {
    @include top_positions($top-height + 2 * $item-height);
  }
}
