.navigation_share_box {
  width: 210px;
  padding: 7px 15px 15px 15px;

  a {
    float: left;
    position: relative;
    text-decoration: none;
    padding: 0 15px 0 15px;
    width: 39px;
  }

  p {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    font-size: 13px;
    text-align: center;
  }

  .button {
    display: block;
    width: 28px;
    height: 42px;
    margin: auto;
  }
}
