<label>
  <span class="name"></span>
  <span class="inline_help"></span>
</label>
<div class="file_thumbnail"></div>
<div class="file_name"></div>
<a href="" class="edit_positioning" title="Bildausschnitt anpassen"></a>
<a href="" class="unset" title="Zurücksetzen"></a>
<a href="" class="choose" title="Ändern"></a>
