<% I18n.with_locale(@resource.locale) do %>
  <p><%= t('.salutation', first_name: @resource.first_name, last_name: @resource.last_name) %>,</p>

  <p><%= t('.instruction') %></p>

  <p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

  <p><%= t('.ignore_hint') %></p>
<% end %>