.add{
  border: 1px solid #1c86fe;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #b6d5f8;
  color: white !important;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #6aacf7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6aacf7), color-stop(100%, #2b8efe));
  background-image: -webkit-linear-gradient(#6aacf7, #2b8efe);
  background-image: linear-gradient(#6aacf7, #2b8efe) !important;
  padding: 7px 18px;
  text-decoration: none !important;
  text-shadow: 0 1px 0 #067bff;
  background-clip: padding-box;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 12px
}

.add::before{
  font-family: 'entypo';
  content: "➕"
}

.add:hover:not(:disabled):not(.disabled) {
  box-shadow: inset 0 1px 0 0 #87baf4;
  cursor: pointer;
  background-color: #559ff2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #559ff2), color-stop(100%, #1d86fc));
  background-image: -webkit-linear-gradient(#559ff2, #1d86fc);
  background-image: linear-gradient(#559ff2, #1d86fc)
}

.add:active:not(:disabled):not(.disabled) {
  border: 1px solid #1c86fe;
  box-shadow: inset 0 0 8px 4px #0f7efb, inset 0 0 8px 4px #0f7efb, 0 1px 1px 0 #eee
}

.linksContainer {
}
