.wrapper {
  margin: 0 auto;
  max-width: 325px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  background-color: #fff;
  visibility: hidden;
}

.inner:has(iframe) {
  visibility: visible;
}
