@include keyframes(bounce) {
  0% {
    @include transform(translateY(0));
  }
  10% {
    @include transform(translateY(-30px));
  }
  100% {
    @include transform(translateY(0));
  }
}

@include keyframes(bounce_x) {
  0% {
    @include transform(translateX(0));
  }
  10% {
    @include transform(translateX(-30px));
  }
  100% {
    @include transform(translateX(0));
  }
}
