.reference {
  position: absolute;
  z-index: 10;
}

.button {
  border: 0;
  text-align: center;
  padding: 8px;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  border-radius: 3px;
  font-size: 13px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  cursor: pointer;
}

.floating {
  transition: opacity .2s, visibility .2s;
}

.escaped {
  opacity: 0;
  visibility: hidden;
}

.size-lg {
  padding: 10px;
}

.button:hover,
.button:focus {
  color: #000;
}

.button svg {
  fill: currentColor;
}

.position-outside {
  top: calc(100% + 0.3em);
  right: -0.8em;
}

.position-outsideLeft {
  top: calc(100% + 0.3em);
  left: 0;
}

.position-outsideIndented {
  top: calc(100% + 0.3em);
  right: 0.5em;
}

.position-inside {
  bottom: 0.5em;
  right: 0.5em;
}

.position-center {
  left: 50%;
  transform: translateX(-50%);
}
