.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 100000;
  display: none;
}

.wrapper.visible {
  display: block;
}

.inner {
  position: sticky;
  top: 0;
  padding-top: 28px;
  margin-bottom: 50px;
}

.inner > * {
  pointer-events: auto;
}
