.container {
  height: 0;
  position: relative;
  top: 1em;
  opacity: 0.8;
  display: flex;
  justify-content: center;
}

.hovered {
  opacity: 1;
}

.container::before,
.container::after {
  content: '';
  border-top: solid 1px currentColor;
  width: calc(50% - 20px);
  position: absolute;
  top: calc(space(1.5) - 1px);
  z-index: -1;
}

.container::before {
  left: 0;
}

.container::after {
  right: 0;
}

.button {
  border: 0;
  background: none;
  color: currentColor;
  position: absolute;
  top: space(-4);
  left: 0;
  width: 100%;
  height: space(8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: space(3)
}
