.wrapper {
  position: relative;
}

.highlighted > section::before,
.selected > section::before {
  content: "";
  display: block;
  position: absolute;
  border: solid 1px currentColor;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 9;
  pointer-events: none;
}

.highlighted > section::before {
  opacity: 0.3;
}

.transitionSelected > section:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  border-top: dotted 2px #fff;
  z-index: 9;
  background-color: #555;
  opacity: 0.7;
}

.controls {
  position: absolute;
  top: -33px;
  right: 0;
  height: 100%;
  width: 50px;
  padding-left: 20px;
  z-index: 10;
  display: none;
}

.transitionSelected .controls,
.selected .controls {
  display: block;
}

.transitionSelected .transitionToolbar-after {
  visibility: hidden;
}

.toolbar {
  position: absolute;
  padding: 10px 0 10px 10px;
  z-index: 10;
  overflow: hidden;
}

.transitionToolbar-before {
  composes: toolbar;
  top: 0;
}

.transitionToolbar-after {
  composes: toolbar;
  bottom: -63px;
}
