.wrapper {
  position: relative;
}

section::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  z-index: 9;
  pointer-events: none;
  visibility: hidden;
}

.highlighted > section::before,
.lineAbove > section::before,
.lineBelow > section::before,
.selected > section::before,
.transitionSelected > section::before {
  visibility: visible;
}

.highlighted > section::before,
.selected > section::before {
  border: solid 1px #fff;
  box-shadow: inset 0 0 0 1px #000;
}

.lineAbove > section::before,
.lineBelow > section::before,
.highlighted > section::before {
  opacity: 0.3;
}

.lineAbove > section::before {
  border-top: dotted 1px currentColor;
}

.lineBelow > section::before {
  border-bottom: dotted 1px currentColor;
}

.transitionSelected > section:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100%;
  border-top: solid 1px #fff;
  box-shadow: 0 0 0 1px #000;
  z-index: 9;
}

.controls {
  position: absolute;
  top: -33px;
  right: 0;
  height: 100%;
  width: 50px;
  padding-left: 20px;
  z-index: 10;
  display: none;
}

.transitionSelected .controls,
.selected .controls {
  display: block;
}

.transitionSelected .transitionToolbar-after {
  visibility: hidden;
}

.toolbar {
  position: absolute;
  padding: 10px 0 10px 10px;
  z-index: 10;
  overflow: hidden;
}

.transitionToolbar-before {
  composes: toolbar;
  top: 0;
}

.transitionToolbar-after {
  composes: toolbar;
  bottom: -63px;
}
