.outer {
  padding-left: 8%;
  padding-right: 8%;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--section-max-width, none);
}

.customMargin,
.outer-full {
  padding-left: 0;
  padding-right: 0;
  max-width: none;
  width: 100%;
}

.item {
  --content-margin: 8%;
  --content-max-width: var(--centered-inline-content-max-width, 700px);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-max-width);
}

.customMargin .item {
  max-width: calc(var(--content-margin) * 2 + var(--content-max-width));
}

.item-inline-lg {
  --content-max-width: var(--centered-inline-lg-content-max-width, 950px);
}

.item-inline-xl {
  --content-max-width: var(--centered-inline-xl-content-max-width, 1200px);
}

.item-inline-full {
  --content-margin: 0;
  --content-max-width: none;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}

.clear {
  clear: both;
}

.inner-xxs,
.inner-xs,
.inner-sm {
  margin: 0 auto;
}

.inner-xxs {
  width: 30%
}

.inner-xs {
  width: 50%;
}

.inner-sm {
  width: 70%;
}

@media (min-width: 950px) {
  .inner-left,
  .inner-right {
    --floated-indent: -10%;
    width: 60%;
    margin-top: 0.375em;
    margin-bottom: 1em;

    /* Ensure element is positioned in front of text block wrapping around
       element and can be selected in editor. */
    position: relative;
    z-index: 1;
  }

  .inner-left {
    float: left;
    margin-left: calc(var(--floated-indent) - 1em);
    margin-right: 1em;
  }

  .inner-right {
    float: right;
    margin-right: calc(var(--floated-indent) - 1em);
    margin-left: 1em;
  }

  .inner-xs.inner-left,
  .inner-xs.inner-right {
    width: 25%;
  }

  .inner-xs.sideBySide {
    --floated-indent: 25%;
  }

  .inner-sm.inner-left,
  .inner-sm.inner-right {
    width: 40%;
  }

  .inner-sm.sideBySide {
    --floated-indent: 10%;
  }

  .inner-lg.inner-left,
  .inner-lg.inner-right {
    width: 70%;
    --floated-indent: -20%;
  }

  .inner-xl.inner-left,
  .inner-xl.inner-right {
    width: 80%;
    --floated-indent: -30%;
  }
}
