.outer {
  margin-left: 8%;
  margin-right: 8%;
}

.outer-full {
  margin-left: 0;
  margin-right: 0;
}

.item {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.item-full {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}

@media (min-width: 950px) {
  .inner-left,
  .inner-right {
    margin-top: 0.375em;
  }

  .inner-left {
    float: left;
    width: 60%;
    margin-left: -10%;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .inner-right {
    float: right;
    width: 60%;
    margin-right: -10%;
    margin-left: 1em;
    margin-bottom: 1em;
  }
}
