.root {
}

.group {
  margin-left: 8%;
  margin-right: 8%;
}

.group-full {
  margin-left: 0;
  margin-right: 0;
}

.sticky,
.inline,
.wide {
  max-width: 500px;
}

.wideViewport .wide {
  max-width: 1200px;
}

.right .inline,
.right .wide {
  margin-left: auto;
}

.narrowViewport.right .sticky {
  margin-left: auto;
}

.wideViewport .sticky {
  position: sticky;
  float: right;
  clear: right;
  top: 33%;
  width: 30%;
  max-width: 600px;
}

.wideViewport.right .sticky {
  float: left;
}
