.section {
  --backdrop-width: var(--backdrop-w);
  --backdrop-height: var(--backdrop-h);

  --motif-left: var(--motif-l);
  --motif-top: var(--motif-t);
  --motif-width: var(--motif-w);
  --motif-height: var(--motif-h);
}

@media (orientation: portrait) {
  .section {
    --backdrop-width: var(--mobile-backdrop-w, var(--backdrop-w));
    --backdrop-height: var(--mobile-backdrop-h, var(--backdrop-h));

    --motif-left: var(--mobile-motif-l, var(--motif-l));
    --motif-top: var(--mobile-motif-t, var(--motif-t));
    --motif-width: var(--mobile-motif-w, var(--motif-w));
    --motif-height: var(--mobile-motif-h, var(--motif-h));
  }
}

.section {
  --motif-right: calc(100 - var(--motif-width) - var(--motif-left));
  --motif-bottom: calc(100 - var(--motif-height) - var(--motif-top));

  --motif-center-x: calc(var(--motif-left, 50) + var(--motif-width, 0) / 2);
  --motif-center-y: calc(var(--motif-top, 50) + var(--motif-height, 0) / 2);

  --backdrop-display-width: calc(var(--backdrop-width) * 100 * var(--vh) /
                                 var(--backdrop-height));
  --display-motif-center-x: calc(var(--motif-center-x) / 100 *
                                 var(--backdrop-display-width));

  --backdrop-translate-x-tmp: calc(var(--display-motif-center-x) * -1 +
                                   50 * var(--vw));
  --backdrop-max-translate-x: calc(100 * var(--vw) - var(--backdrop-display-width));
  --backdrop-translate-x: max(var(--backdrop-max-translate-x),
                              min(0px, var(--backdrop-translate-x-tmp)));

  --backdrop-display-height: calc(var(--backdrop-height) * 100 * var(--vw) /
                                  var(--backdrop-width));
  --display-motif-center-y: calc(var(--motif-center-y) / 100 *
                                 var(--backdrop-display-height));

  --backdrop-translate-y-tmp: calc(var(--display-motif-center-y) * -1 +
                                   50 * var(--vh));
  --backdrop-max-translate-y: calc(100 * var(--vh) - var(--backdrop-display-height));
  --backdrop-translate-y: max(var(--backdrop-max-translate-y),
                              min(0px, var(--backdrop-translate-y-tmp)));


  --backdrop-positioner-transform: translateX(var(--backdrop-translate-x));
  --backdrop-positioner-width: var(--backdrop-display-width);
  --backdrop-positioner-height: 100%;

  --backdrop-positioner-min-ar-transform: translateY(var(--backdrop-translate-y));
  --backdrop-positioner-min-ar-width: calc(100 * var(--vw));
  --backdrop-positioner-min-ar-height: var(--backdrop-display-height);

  --motif-display-height: calc(var(--motif-height) * var(--vh));
  --motif-display-min-ar-height: calc(
    var(--motif-height) / 100 * var(--backdrop-display-height)
  );

  --motif-display-top: calc(var(--motif-top) * var(--vh));
  --motif-display-min-ar-top: calc(
    var(--motif-top) / 100 * var(--backdrop-display-height) +
    var(--backdrop-translate-y) -
    var(--foreground-padding-top)
  );

  --motif-display-bottom: calc(var(--motif-bottom) * var(--vh));
  --motif-display-min-ar-bottom: calc(
    var(--motif-bottom) / 100 * var(--backdrop-display-height) -
    var(--backdrop-translate-y) +
    var(--foreground-padding-top)
  );

  --motif-min-height-reveal-conceal: var(--motif-display-height);
  --motif-min-height-reveal: calc(var(--motif-display-bottom) +
                                  var(--motif-display-height));
  --motif-min-height-scroll-in: calc(var(--motif-display-top) +
                                     var(--motif-display-height));
}

.exposeMotifArea {
  --inline-content-max-width: calc(100 * var(--vw));
  --motif-placeholder-width: calc(100 * var(--vw));
  --motif-placeholder-min-ar-width: calc(100 * var(--vw));

  /* Motif fits next to inline content if remaining-width is positive.

     Example for layout "left":

                100vw
       |-----------------------|
       |-|========|   |xxxxx...|
        ^    ^      ^     ^
        |    |      |     |
        |    |      |     motif-placeholder-width
        |    |      remaining-width
        |    inline-content-max-width
        8% section padding
  */
  --remaining-width: calc(
    100 * var(--vw)
    - var(--inline-content-max-width)
    - 8 * var(--vw)
    - var(--motif-placeholder-width)
  );

  /*
    If --remaining-width is non-negative, this will be 0, causing the
    motif paddings below to be 0 as well. If --remaining-width is
    negative, this will be large value, causing the motif paddings to
    be controlled by the motif display dimensions.
  */
  --zero-if-two-column: max(0px, var(--remaining-width) * -10000);

  --motif-padding-fade-in: min(var(--zero-if-two-column),
                               var(--motif-display-bottom) + var(--motif-display-height));

  --motif-padding-reveal: min(var(--zero-if-two-column),
                              var(--motif-display-height));

  --motif-padding-scroll-in: min(var(--zero-if-two-column),
                                 var(--motif-display-top) + var(--motif-display-height));
}

.layout-left,
.layout-right {
  --inline-content-max-width: var(--two-column-inline-content-max-width, 500px);
}

.layout-left {
  --backdrop-overflow-h: calc(var(--backdrop-display-width) - 100 * var(--vw));
  --motif-placeholder-width: calc((var(--motif-right) + var(--motif-width)) / 100 *
                                  var(--backdrop-display-width) -
                                  var(--backdrop-overflow-h) -
                                  var(--backdrop-translate-x));
  --motif-placeholder-min-ar-width: calc((var(--motif-right) + var(--motif-width)) *
                                         var(--vw));
}

.layout-right {
  --motif-placeholder-width: calc((var(--motif-left) + var(--motif-width)) / 100 *
                                  var(--backdrop-display-width) +
                                  var(--backdrop-translate-x));
  --motif-placeholder-min-ar-width: calc((var(--motif-left) + var(--motif-width)) *
                                         var(--vw));
}
