@value breakpoint-md from 'pageflow-scrolled/values/breakpoints.module.css';

.chapterLink {
  composes: typography-defaultNavigationChapterLink from global;
  line-height: 42px;
  color: var(--theme-widget-primary-color);
  text-decoration: none;
  position: relative;
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  height: 42px;
  white-space: nowrap;
  padding: 0 10px;
  margin: 4px 0;
}

.chapterLink:hover,
.chapterLinkActive {
  color: var(--theme-accent-color);
}

.chapterLinkActive {
  composes: typography-defaultNavigationActiveChapterLink from global;
}

.summary {
  color: var(--theme-widget-on-background-color);
}

.tooltipBubble {
  display: none;
}

@media breakpoint-md {
  .summary {
    display: none;
  }

  .tooltipBubble {
    display: block;
  }
}
