@value breakpoint-below-md from 'pageflow-scrolled/values/breakpoints.module.css';

.navigationBar {
  composes: scope-defaultNavigation from global;

  --default-navigation-bar-height:
    var(--theme-default-navigation-bar-height, 50px);

  --default-navigation-scroller-top:
    var(--theme-default-navigation-scroller-top, 0);

  --default-navigation-scroll-button-top:
    var(--theme-default-navigation-scroll-button-top, 5px);

  --default-navigation-chapter-link-height:
    var(--theme-default-navigation-chapter-link-height, 50px);

  --default-navigation-progress-bar-height:
    var(--theme-default-navigation-progress-bar-height, 8px);

  --default-navigation-separator-color:
    var(--theme-default-navigation-separator-color, #e9e9e9);

  font-family: var(--theme-widget-font-family);
  position: fixed;
  top: calc(-1 * var(--default-navigation-bar-height));
  transition: top .15s;
  z-index: 10000;
  width: 100%;
  text-align: center;
  height: 0;
  user-select: none;
}

.navigationBarExpanded {
  top: 0;
}

.navigationBarContentWrapper {
  position: relative;
  z-index: 2;
  background-color: var(--theme-widget-surface-color);
  color: var(--theme-widget-on-surface-color);
  height: var(--default-navigation-bar-height);
  box-sizing: border-box;
  padding-top: var(--default-navigation-scroller-top);
}

.menuIcon {
  position: absolute;
  top: 0;
  left: 12px;
  height: var(--default-navigation-bar-height);
}

.contextIcons {
  position: absolute;
  top: 0px;
  right: 12px;
  display: flex;
}

.contextIcons > * {
  pointer-events: auto;
}

.contextIcon {
  composes: unstyledButton from '../../frontend/utils.module.css';
  cursor: pointer;
  width: 40px;
  height: var(--default-navigation-bar-height);
  color: var(--theme-widget-secondary-color);
  fill: currentcolor;
  stroke: currentColor;
}

.contextIcon svg {
  width: 35px;
  height: 35px;
  margin: 7px 2px;
}

div:focus-within > .contextIcon,
.contextIcon:hover {
  color: var(--theme-widget-primary-color);
}

.logo {
  top: 0;
  left: 15px;
  height: 100%;
  max-width: 15%;
}

.logo img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.chapterList {
  composes: scope-defaultNavigationChapterList from global;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.chapterListItem {
  position: relative;
  padding: 0 5px;
  border-right: 1px solid var(--default-navigation-separator-color);
}

.chapterListItem:last-of-type {
  border-right: none;
}

.navigationTooltip {
  opacity: 1 !important;
  box-shadow: 0 0 0.3125rem rgba(0,0,0,.2);
}

.progressBar {
  position: relative;
  background-color: var(--theme-default-navigation-progress-bar-background-color,
                        rgba(194,194,194,0.8));
  height: var(--default-navigation-progress-bar-height);
  width: 100%;
}

.progressIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 0vw;
  height: 100%;
  background-color: var(--theme-default-navigation-progress-bar-indicator-color,
                        var(--theme-accent-color));
}

@media screen and breakpoint-below-md {
  .navigationBar {
    --default-navigation-progress-bar-height:
      var(--theme-default-navigation-progress-bar-height, 10px);
  }

  .logo {
    max-width: 30%;
  }

  .hasChapters .logo {
    left: 65px;
  }

  .navigationChapters {
    display: block;
    position: fixed;
    top: calc(var(--default-navigation-bar-height) +
              var(--default-navigation-progress-bar-height));
    left: 0px;
    background: var(--theme-widget-background-color);
    width: 100vw;
    bottom: 0;
    overscroll-behavior: contain;
    overflow: scroll;
  }

  .navigationChaptersHidden {
    display: none;
  }

  .chapterList {
    display: block;
    padding-top: var(--default-navigation-bar-height);
    box-sizing: border-box;
    /*
      Prevent scrolling the page when mobile navigation is open, by
      forcing overflow and setting `overscroll-behavior: contain`
      above. Normally this should be done with `touch-action: none`.
      But using `touch-action` causes weird rendering bugs in Chrome
      on Android.
    */
    min-height: 101%;
  }

  .chapterListItem {
    width: 80vw;
    padding: 25px 10vw;
    border-right: none;
  }

  .chapterListItem::before,
  .chapterListItem::after {
    display: table;
    content: " ";
    border-top: 1px solid rgb(100, 100, 100);
    width: 14%;
    margin: 0 43%;
    transition: width .15s, margin .15s;
  }

  .chapterListItem:hover::before,
  .chapterListItem:hover::after {
    border-top: 1px solid var(--theme-widget-primary-color);
    width: 80%;
    margin: 0 10%;
  }

  .chapterListItem p {
    margin-top: 0;
  }
}

@media print {
  .navigationBar {
    position: relative;
    top: 0;
    height: auto;
  }

  .logo {
    left: 0;
  }

  .chapterList,
  .contextIcons,
  .progressBar {
    display: none;
  }
}
