@value breakpoint-md from 'pageflow-scrolled/values/breakpoints.module.css';

@media breakpoint-md {
  .burgerMenuIconContainer {
    display: none;
  }
}

.small {
  --hamburger-icon-transform: scale(0.7);
  --hamburger-icon-line-width: 3px;
}
