.infoIcon svg {
  width: 26px;
  height: 26px;
  margin: 12px 7px;
}

.legalInfoTooltip {
  text-align: left;
}

.legalInfoTooltip:after {
  left: 90% !important;
}

.legalInfoTooltip p {
  margin: 0 0 0.5em;
}

.legalInfoTooltip a {
  color: var(--theme-accent-color);
}
