.button {
  composes: unstyledButton from '../../frontend/utils.module.css';
  position: absolute;
  top: var(--default-navigation-scroll-button-top);
  height: 40px;
  width: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 1;
}

.button svg {
  width: 18px;
  height: 18px;
  color: var(--theme-widget-primary-color);
}

.visible {
  opacity: 1;
  visibility: visible;
}

.start {
  composes: button;
  right: 80%;
}

.end {
  composes: button;
  left: calc(100% - var(--default-navigation-scroller-right));
}
